.select{
    height: 40px;
    width: 100px;
    border-radius: 0.375rem;
    padding: .375rem .75rem;
    background-color: #fff;;
    border-color: #dbd8d8 !important;
}

.form{
    min-width: 450px;
    max-width: 450px;
}

.cbx{
    height: 40px;
    padding: .375rem .75rem;
    padding-left: 40px;
}

.hover :hover{
    background-color: rgb(234, 234, 234);
}

.form-check-label:hover {
    pointer-events: none!important;     
}
