<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Información del Lote</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="plotForm">
      <div class="row mb-3">
          <div class="col d-flex justify-content-center align-items-center">
              <label for="inputName" class="form-label mb-0 me-2">Lote</label>
              <input type="text" class="form-control custom-input" formControlName="plot">
          </div>         
          <div class="col  d-flex justify-content-center align-items-center">
              <label for="inputLastName" class="form-label mb-0 me-2">Manzana</label>
              <input type="text" class="form-control custom-input" formControlName="block"> 
          </div>
      </div>

      <div class="row mb-3">
          <div class="col d-flex justify-content-center align-items-center">
              <label for="inputEmail" class="form-label mb-0 me-2">Mts Total</label>
              <input type="text" class="form-control custom-input" formControlName="total_area">
          </div>
          <div class="col d-flex justify-content-center align-items-center">
              <label for="inputDni" class="form-label mb-0 me-2">Mts Construidos</label>
              <input type="text" class="form-control custom-input" formControlName="built_area">
          </div>
      </div>

      <div class="row mb-3">
          <div class="col d-flex justify-content-center align-items-center">
              <label for="inputTelefono" class="form-label mb-0 me-2">Tipo</label>
              <input type="text" class="form-control custom-input" formControlName="type">
          </div>
          <div class="col d-flex justify-content-center align-items-center">
              <label for="inputBirthdate" class="form-label mb-0 me-2">Estado</label>
              <input type="text" class="form-control custom-input" formControlName="state">
          </div>
      </div>

        <div class="mt-4">
            <h6 class="mb-3">Archivos adjuntos</h6>
            <div class="list-group">
                <div *ngFor="let e of filesPlot; let i = index" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-file-earmark-text me-3 text-primary fs-5"></i>
                        <span>{{ e.name }}</span>
                    </div>
                    <button (click)="downloadFile(e.uuid)" class="btn btn-success btn-sm">
                        <i class="bi bi-download me-2"></i>
                        Descargar
                    </button>
                </div>
            </div>
        </div>
        
  </form>
  </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Atrás</button>
    </div>
    

