<ng-select bindLabel="name" bindValue="value" [closeOnSelect]="!multiple" [multiple]="multiple" [items]="options" [placeholder]="placeholder"
    [(ngModel)]="selectedOptions" (ngModelChange)="update()">
    @if(multiple){
    <ng-template ng-multi-label-tmp let-items="items">
        {{items.length === 1 ? items[0].name : items.length + ' seleccionados'}}

    </ng-template>
    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <input class="form-check-input text-dark" id={{item.value}} type="checkbox" [ngModel]="item$.selected" /> {{
        item.name }}
    </ng-template>
    }
</ng-select>