<section class="fondo bg-dark min-vh-100 d-flex align-items-center justify-content-center">
    <div class="container d-flex flex-column align-items-center">
        <form [formGroup]="reactiveForm" action="" (ngSubmit)="login()" autocomplete="on">
            <div class="row mb-3">
                <h2>Inicio de sesión</h2>
            </div>
            <div class="d-flex flex-column align-items-end">
                <div class="row mb-3">
                    <div class="col d-flex">
                        <label for="inputCorreo" class="form-label m-0 me-3 mt-2">Email o usuario</label>
                        <div class="d-flex flex-column justify-content-start">
                            <input type="text" class="form-control custom-input" 
                                formControlName="email" autocomplete="email" [ngClass]="onValidate('email')">
                                <div class="invalid-feedback d-block mt-1 text-start">{{showError('email')}}</div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col d-flex">
                        <label for="inputClave" class="form-label m-0 me-3 mt-2">Contraseña</label>
                        <div class="d-flex flex-column justify-content-start" style="position: relative;">
                            <input [type]="passwordVisible ? 'text' : 'password'" class="form-control custom-input" 
                              formControlName="password" autocomplete="current-password" [ngClass]="onValidate('password')">
                            <i class="bi" 
                               [ngClass]="passwordVisible ? 'bi-eye-slash' : 'bi-eye'" 
                               (click)="togglePasswordVisibility()" 
                               style="cursor: pointer; position: absolute; right: 32px; top: 20px; transform: translateY(-50%);"></i>
                               <div class="w-100">
                                <div class="invalid-feedback d-block mt-1 text-start">{{showError('password')}}</div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>      
            <div class="row mb-3">
                <div class="col">
                    <button type="submit" class="btn btn-dark rounded-pill w-100" [disabled]="!reactiveForm.valid" >Ingresar</button>
                </div>
            </div>

            @if (errorLog) {
                <div class="row mb-3">
                    <div class="invalid-feedback d-block mt-1 text-center">Email o contraseña no válidos. Por favor, intentelo de nuevo.</div>
                </div>
            }
            <div class="row">
                <div class="col text-center">
                    <a class="custom-link" [routerLink]="'/recovery'" style="color: black;">
                        ¿Olvidaste tu contraseña?
                    </a>
                </div>
            </div>
        </form>
    </div>    
</section>