.container{
    background-color: #ffffff;
    text-align: center;
    width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 3.2px;
    padding-right: 20px;
    padding-left: 20px;
}

input.custom-input:focus {
    background-color: #ffffff;
}

.alinear-texto{
    text-align: left;
}

.custom-link {
    color: black; 
    text-decoration: none; 
    text-align: left;
}

.custom-link:hover {
    text-decoration: underline;
    text-decoration-color: black; 
}