
.side-compressed{
    width: 55px;
    padding: 0;
}

.side-expand{
    width: 220px;
}

.animation{
    transition: all 0.3s ease-in-out;
}

.overlay-on {
    transition: all 0.6s ease;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0;
  }

.overlay-off{
    opacity: 0.5;
}