<section class="container pt-5">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <div class="d-flex align-items-center">
      <div id="myTable_filter" class="dataTables_filter" style="text-align: left;">
        <input class="form-control" placeholder="Buscar" style="width: 300px;" aria-controls="myTable">
      </div>
      <div id="myTable_filter" class="dataTables_filter" style="text-align: left;" >
        <select class="form-select m-3" aria-controls="myTable" style="width: 300px;" aria-controls="myTable" (change)="updateFilterType()" [formControl]="selectType">
          <option value="" disabled selected>Seleccionar tipo</option> 
          @for (type of types; track $index) {
            <option [value]="type.description">{{ type.description }}</option>
          }
      </select>
      <!-- <app-users-multiple-select (sendList)="metodoparatraerlalista()" [multiple]="false" [options]="types"/> -->
    </div>
    <div>
      <input type="date" class="form-control me-3" formControlName="datebirth" style="width: 200px" [formControl]="initialDate" (change)="filterByDate()"/>
    </div>
    <div>
      <input type="date" class="form-control me-3" formControlName="datebirth" style="width: 200px" [formControl]="endDate" (change)="filterByDate()"/>
    </div>
    <div>
      <button class="btn btn-primary" (click)="resetFilters()">
        <i class="bi bi-trash"></i>
      </button>
    </div>
    </div>
    <div>
      <button class="btn btn-success me-2" (click)="exportExcel()">
        <i class="bi bi-file-earmark-excel"></i>
      </button>
      <button class="btn btn-danger" (click)="exportPdf()">
        <i class="bi bi-file-earmark-pdf"></i>
      </button>
    </div>
  </div>

  <div class="mb-3">
    <table id="myTable" class="table table-striped table-hover border border-3 rounded"></table>
  </div>
</section>

