<section
  class="container p-5 border rounded border-3 border-secundary"
  style="min-height: 80vh"
>
  <h3 class="mb-3">Añadir Usuario</h3>

  <form (ngSubmit)="createUser()" [formGroup]="formReactivo">
    <div class="row mb-4">
      <div class="col-6">
        <div class="row">
          <label class="col-2 text-start form-label pe-0" style="margin: 0"
            >Nombre</label
          >
          <div class="col-8">
            <input
              type="text"
              class="form-control custom-input"
              style="margin: 0"
              [ngClass]="{
                'is-invalid':
                  formReactivo.controls['name'].invalid &&
                  (formReactivo.get('name')?.dirty ||
                    formReactivo.get('name')?.touched),
                'is-valid': formReactivo.controls['name'].valid
              }"
              formControlName="name"
            />
            <div class="error d-block mt-1 text-start">
              @if(formReactivo.get('name')?.dirty ||
              formReactivo.get('name')?.touched){
              @if(formReactivo.controls['name'].errors?.["required"]){ Ingrese
              su nombre }
              @if(formReactivo.controls['name'].errors?.["maxlength"]){ El
              nombre no puede superar los 50 caracteres } }
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <label class="col-2 text-start form-label">Apellido</label>
          <div class="col-8">
            <input
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  formReactivo.controls['lastname'].invalid &&
                  (formReactivo.get('lastname')?.dirty ||
                    formReactivo.get('lastname')?.touched),
                'is-valid': formReactivo.controls['lastname'].valid
              }"
              formControlName="lastname"
            />
            <div class="text-danger form-error">
              @if(formReactivo.get('lastname')?.dirty ||
              formReactivo.get('lastname')?.touched){
              @if(formReactivo.controls['lastname'].errors?.["required"]){
              Ingrese su apellido }
              @if(formReactivo.controls['lastname'].errors?.["maxlength"]){ El
              apellido no puede superar los 50 caracteres } }
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-6">
        <div class="row">
          <label class="col-2 text-start form-label">Tipo de Dni</label>
          <div class="col-8">
            <select id="dniType" formControlName="dniType" class="form-select">
              <option value="" disabled selected>
                Seleccionar tipo de DNI
              </option>
              <option value="1">DNI</option>
              <option value="2">Pasaporte</option>
            </select>
            <div class="text-danger form-error">
              @if(formReactivo.get('dniType')?.dirty ||
              formReactivo.get('dniType')?.touched){
              @if(formReactivo.controls['dniType'].errors?.["required"]){
              Seleccione un tipo de DNI } }
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <label class="col-2 text-start form-label">DNI</label>
          <div class="col-8">
            <input
              type="number"
              class="form-control custom-input"
              [ngClass]="{
                'is-invalid':
                  formReactivo.controls['dni'].invalid &&
                  (formReactivo.get('dni')?.dirty ||
                    formReactivo.get('dni')?.touched),
                'is-valid': formReactivo.controls['dni'].valid
              }"
              formControlName="dni"
              style="appearance: none"
              pattern="[0-9]*"
            />
            <div class="text-danger form-error">
              @if(formReactivo.get('dni')?.dirty ||
              formReactivo.get('dni')?.touched){
              @if(formReactivo.controls['dni'].errors?.["required"]){ Ingrese un
              DNI } @if(formReactivo.controls['dni'].errors?.["minlength"] ||
              formReactivo.controls['dni'].errors?.["maxlength"]){ El DNI debe
              tener entre 1 y 11 caracteres }
              @if(formReactivo.controls['dni'].errors?.['min']){ El DNI no puede
              ser negativo } }
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-6">
        <div class="row">
          <label class="col-2 text-start form-label pe-0" style="margin: 0"
            >Email</label
          >
          <div class="col-8">
            <input
              type="text"
              class="form-control custom-input"
              style="margin: 0"
              [ngClass]="{
                'is-invalid':
                  formReactivo.controls['email'].invalid &&
                  (formReactivo.get('email')?.dirty ||
                    formReactivo.get('email')?.touched),
                'is-valid': formReactivo.controls['email'].valid
              }"
              formControlName="email"
            />
            <div class="text-danger form-error">
              @if(formReactivo.get('email')?.dirty ||
              formReactivo.get('email')?.touched){
              @if(formReactivo.controls['email'].errors?.["required"]){ Ingrese
              su email } @if(formReactivo.controls['email'].errors?.["email"]){
              Ingrese un email válido } }
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <label class="col-2 text-start form-label">Lote</label>
          <div class="col-8">
        <select class="form-select" id="stateId" formControlName="lote">
          <option value="" disabled selected>Seleccione un lote</option>
          @for (s of lotes; track $index) {
            <option value="{{s.id}}">Numero de lote: {{s.plot_number}}, Manzana: {{s.block_number}}</option>
          }
        </select>
      </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-6">
        <div class="row">
          <label class="col-2 text-start form-label pe-0" style="margin: 0"
            >Teléfono</label
          >
          <div class="col-8">
            <input
              type="number"
              class="form-control custom-input"
              [ngClass]="{
                'is-invalid':
                  formReactivo.controls['phone_number'].invalid &&
                  (formReactivo.get('phone_number')?.dirty ||
                    formReactivo.get('phone_number')?.touched),
                'is-valid': formReactivo.controls['phone_number'].valid
              }"
              formControlName="phone_number"
              style="appearance: none"
            />
            <div class="text-danger form-error">
              @if(formReactivo.get('phone_number')?.dirty ||
              formReactivo.get('phone_number')?.touched){
              @if(formReactivo.controls['phone_number'].errors?.["required"]){
              Ingrese su teléfono }
              @if(formReactivo.controls['phone_number'].errors?.["minlength"] ||
              formReactivo.controls['phone_number'].errors?.["maxlength"]){ El
              teléfono debe tener entre 10 y 20 caracteres }
              @if(formReactivo.controls['phone_number'].errors?.['min']){ El
              teléfono no puede ser negativo } }
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <label class="col-2 text-start form-label">Fecha de nacimiento</label>
          <div class="col-8">
            <input
              type="date"
              class="form-control custom-input"
              [ngClass]="{
                'is-invalid':
                  formReactivo.controls['datebirth'].invalid &&
                  (formReactivo.get('datebirth')?.dirty ||
                    formReactivo.get('datebirth')?.touched),
                'is-valid': formReactivo.controls['datebirth'].valid
              }"
              formControlName="datebirth"
              value="2000-01-01"
            />
            <div class="text-danger form-error">
              @if(formReactivo.get('datebirth')?.dirty ||
              formReactivo.get('datebirth')?.touched){
              @if(formReactivo.controls['datebirth'].errors?.["required"]){
              Ingrese su fecha de nacimiento } }
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-6">
        <div class="row">
          <label class="col-2 text-start form-label">Roles</label>
          <div class="col-8">
            <app-users-select-multiple 
              (rolesEmited)="fillRolesSelected($event); verifyRole()"
              (click)="verifyRole()"
            >
            </app-users-select-multiple>
            <div class="text-danger form-error">
              @if(!checkRole){ Ingrese al menos un rol }
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <label class="col-2 text-start form-label">Nombre de usuario</label>
          <div class="col-8">
            <input
              type="text"
              class="form-control custom-input"
              [ngClass]="{
                'is-invalid':
                  formReactivo.controls['username'].invalid &&
                  (formReactivo.get('username')?.dirty ||
                    formReactivo.get('username')?.touched),
                'is-valid': formReactivo.controls['username'].valid
              }"
              formControlName="username"
            />
            <div class="text-danger form-error">
              @if(formReactivo.get('username')?.dirty ||
              formReactivo.get('username')?.touched){
              @if(formReactivo.controls['username'].errors?.["required"]){
              Ingrese su nombre de usuario }
              @if(formReactivo.controls['username'].errors?.["maxlength"]){ El
              nombre de usuario no puede superar los 20 caracteres }
              @if(formReactivo.controls['username'].errors?.["pattern"]){ El
              nombre de usuario solo puede contener letras, números y guiones
              bajos } }
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-6">
        <div class="row">
          <label class="col-2 text-start form-label pe-0" style="margin: 0"
            >Telegram id</label
          >
          <div class="col-8">
            <input
              type="number"
              class="form-control custom-input"
              [ngClass]="{
                'is-invalid':
                  formReactivo.controls['telegram_id'].invalid &&
                  (formReactivo.get('telegram_id')?.dirty ||
                    formReactivo.get('telegram_id')?.touched),
                'is-valid': formReactivo.controls['telegram_id'].valid
              }"
              formControlName="telegram_id"
            />
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <label class="col-2 text-start form-label">Contraseña</label>
          <div class="col-8">
            <input
              type="password"
              class="form-control custom-input"
              [ngClass]="{
                'is-invalid':
                  formReactivo.controls['password'].invalid &&
                  (formReactivo.get('password')?.dirty ||
                    formReactivo.get('password')?.touched),
                'is-valid': formReactivo.controls['password'].valid
              }"
              formControlName="password"
              autocomplete="current-password"
            />
            <div class="text-danger form-error">
              @if(formReactivo.get('password')?.dirty ||
              formReactivo.get('password')?.touched){
              @if(formReactivo.controls['password'].errors?.["required"]){
              Ingrese su contraseña }
              @if(formReactivo.controls['password'].errors?.["maxlength"]){ La
              contraseña no puede superar los 20 caracteres }
              @if(formReactivo.controls['password'].errors?.["pattern"]){ La
              contraseña solo puede contener letras, números y guiones bajos } }
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-3 justify-content-end sticky-right">
      <div class="col-auto">
        <button type="button" class="btn btn-secondary">Cancelar</button>
      </div>
      <div class="col-auto">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!formReactivo.valid || rolesSelected.length === 0"
        >
          Guardar
        </button>
      </div>
    </div>
  </form>
</section>
