<div class="dashboard-container">
    <h1 class="dashboard-title">Estados de Lotes</h1>
    
    <div class="kpi-container">
      <div class="kpi-card">
        <h3>Cantidad de Lotes</h3>
        <div class="kpi-value">{{totalLots}}</div>
      </div>
      
      <div class="kpi-card">
        <h3>Residenciales</h3>
        <div class="kpi-value">{{residentialLots}}</div>
      </div>
      
      <div class="kpi-card">
        <h3>Comerciales</h3>
        <div class="kpi-value">{{commercialLots}}</div>
      </div>
      
      <div class="kpi-card">
        <h3>Baldíos</h3>
        <div class="kpi-value">{{emptyLots}}</div>
      </div>
    </div>

  </div>
  