<section class="container p-5 border rounded border-3 border-secundary" style="min-height: 70vh;">
    <div class="d-flex justify-content-between">
        <h3 class="mb-3">Tu Perfil</h3>

        @if(type == 'edit'){
            <div style="max-width: 500px" class="col-md-6 d-flex justify-content-end">
                <span class="mt-3 me-2">Avatar:</span>
                <div class="dropdown form-control btn btn btn-outline-secondary dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <img [src]="selectedIconUrl" alt="Selected Icon" style="max-width: 50px;">
                    <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton">
                        <div class="row">
                            <div class="col-4" *ngFor="let icon of icons; let i = index">
                                <a class="dropdown-item" (click)="selectIcon(icon.url)">
                                    <img [src]="icon.url" alt="{{icon.name}}" style="max-width: 70px; min-width: 70px;" class="m-2" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        }@else {
            <div style="max-width: 500px" class="col-md-6 d-flex justify-content-end">
                <span class="mt-3 me-2">Avatar:</span>
                <div class="dropdown form-control text-center btn btn-secondary">
                        <img [src]="selectedIconUrl" alt="Selected Icon" style="max-width: 50px;">
                </div>
            </div>
        }

    </div>
    <form [formGroup]="formProfile" class="text-end mt-5" (ngSubmit)="updateUser()">
        <div class="row mb-3">
            <div class="col-md-6 d-flex flex-column align-items-end">
                <div class="d-flex align-items-center">
                    <label class="form-label me-2 text-end" style="width: 150px; margin-bottom: 0;">Nombre</label>
                    <input type="text" class="form-control custom-input"
                        [ngClass]="{'is-invalid': formProfile.controls['name'].invalid && (formProfile.get('name')?.dirty || formProfile.get('name')?.touched), 'is-valid': formProfile.controls['name'].valid }"
                        formControlName="name">
                </div>
                <div class="text-danger form-error text-start">
                    @if(formProfile.get('name')?.dirty || formProfile.get('nombre')?.touched){
                        @if(formProfile.controls['name'].errors?.["required"]){
                            Ingrese su nombre
                        }
                        @if(formProfile.controls['name'].errors?.["maxlength"]){
                            El nombre no puede superar los 50 caracteres
                        }
                    }
                </div>
            </div>
            <div class="col-md-6 d-flex flex-column align-items-end">
                <div class="d-flex align-items-center">
                    <label class="form-label me-2 text-end" style="width: 150px; margin-bottom: 0;">Apellido</label>
                    <input type="text" class="form-control custom-input"
                        [ngClass]="{'is-invalid': formProfile.controls['lastName'].invalid && (formProfile.get('lastName')?.dirty || formProfile.get('lastName')?.touched), 'is-valid': formProfile.controls['lastName'].valid }"
                        formControlName="lastName">
                </div>
                <div class="text-danger form-error text-start">
                    @if(formProfile.get('lastName')?.dirty || formProfile.get('lastName')?.touched){
                        @if(formProfile.controls['lastName'].errors?.["required"]){
                            Ingrese su apellido
                        }
                        @if(formProfile.controls['lastName'].errors?.["maxlength"]){
                            El apellido no puede superar los 50 caracteres
                        }
                    }
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <label class="form-label me-2 text-end" style="width: 150px; margin-bottom: 0;">Email</label>
                    <input type="text" class="form-control custom-input" formControlName="email">
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <label class="form-label me-2 text-end" style="width: 150px; margin-bottom: 0;">DNI</label>
                    <input type="text" class="form-control custom-input" formControlName="dni" style="appearance: none;" pattern="[0-9]*">
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6 d-flex flex-column align-items-end">
                <div class="d-flex align-items-center">
                    <label class="form-label me-2 text-end" style="width: 150px; margin-bottom: 0;">Teléfono</label>
                    <input type="number" class="form-control custom-input"
                        [ngClass]="{'is-invalid': formProfile.controls['phoneNumber'].invalid && (formProfile.get('phoneNumber')?.dirty || formProfile.get('phoneNumber')?.touched), 'is-valid': formProfile.controls['phoneNumber'].valid }"
                        formControlName="phoneNumber" style="appearance: none;">
                </div>
                <div class="text-danger text-start form-error">
                    @if(formProfile.get('phoneNumber')?.dirty || formProfile.get('phoneNumber')?.touched){
                        @if(formProfile.controls['phoneNumber'].errors?.["required"]){
                            Ingrese su teléfono
                        }
                        @if(formProfile.controls['phoneNumber'].errors?.["minlength"] || formProfile.controls['phoneNumber'].errors?.["maxlength"]){
                            El teléfono debe tener entre 10 y 20 caracteres
                        }
                    }
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <label class="form-label me-2 text-end" style="width: 150px; margin-bottom: 0;">Fecha de nacimiento</label>
                    <input type="date" class="form-control custom-input" formControlName="datebirth" value="2000-01-01">
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6 d-flex justify-content-end">
                <label class="form-label me-2 text-end pt-2" style="width: 150px; margin-bottom: 0;">Roles</label>
                <input type="text" class="form-control custom-input" formControlName="roles">
            </div>
            <div class="col-md-6 d-flex flex-column align-items-end">
                <div class="d-flex align-items-center">
                    <label class="form-label me-2 text-end" style="width: 150px; margin-bottom: 0;">Telegram id</label>
                    <input type="number" class="form-control custom-input"
                        [ngClass]="{'is-invalid': formProfile.controls['telegram_id'].invalid && (formProfile.get('telegram_id')?.dirty || formProfile.get('telegram_id')?.touched), 'is-valid': formProfile.controls['telegram_id'].valid }"
                        formControlName="telegram_id">
                </div>
                <div class="text-danger text-start form-error">
                    @if(formProfile.get('telegram_id')?.dirty || formProfile.get('telegram_id')?.touched){
                        @if(formProfile.controls['telegram_id'].errors?.["required"]){
                            Ingrese su telegram id
                        }
                    }
                </div>
            </div>
        </div>     

        <div class="row mb-3">
            <div class="col-md-6 d-flex justify-content-end">
                <label class="form-label me-2 text-end" style="margin-bottom: 0; ">Nombre de usuario</label>
                <div>
                    <input type="text" class="form-control custom-input" formControlName="username">
                </div>
            </div>
        </div>     
        
          
        @if(type == 'info'){
            <button type="button" class="btn btn-primary mt-4" (click)="changeType('edit')">Editar</button>
        }@else {
            <button type="button" class="btn btn-secondary mt-4 mx-3" (click)="changeType('info')">Cancelar</button>
            <button type="submit" class="btn btn-primary mt-4" [disabled]="!formProfile.valid" >Guardar</button>
        }

    </form>
</section>
