<section class="container p-5 border rounded border-3 border-secundary" style="min-height: 70vh;">
    <div class="d-flex justify-content-between">
        <h3 class="mb-3">Tú Perfil</h3>

        @if(type == 'edit'){
            <div style="max-width: 500px" class="col-md-6 d-flex justify-content-end">
                <span class="mt-3 me-2">Avatar:</span>
                <div class="dropdown form-control btn btn btn-outline-secondary dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <img [src]="selectedIconUrl" alt="Selected Icon" style="max-width: 50px;">
                    <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton">
                        <div class="row">
                            <div class="col-4" *ngFor="let icon of icons; let i = index">
                                <a class="dropdown-item" (click)="selectIcon(icon.url)">
                                    <img [src]="icon.url" alt="{{icon.name}}" style="max-width: 70px; min-width: 70px;" class="m-2" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        }@else {
            <div style="max-width: 500px" class="col-md-6 d-flex justify-content-end">
                <span class="mt-3 me-2">Avatar:</span>
                <div class="dropdown form-control text-center btn btn-secondary">
                        <img [src]="selectedIconUrl" alt="Selected Icon" style="max-width: 50px;">
                </div>
            </div>
        }

    </div>
    <form [formGroup]="formReactivo" class="text-end mt-5" (ngSubmit)="updateUser()">
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <label class="form-label me-2 text-end" style="width: 150px; margin-bottom: 0;">Nombre</label>
                    <input type="text" class="form-control custom-input"
                        [ngClass]="{'is-invalid': formReactivo.controls['nombre'].invalid && (formReactivo.get('nombre')?.dirty || formReactivo.get('nombre')?.touched), 'is-valid': formReactivo.controls['nombre'].valid }"
                        formControlName="nombre">
                </div>
                <div class="text-danger" style="margin-left: 130px;">
                    @if(formReactivo.get('nombre')?.dirty || formReactivo.get('nombre')?.touched){
                        @if(formReactivo.controls['nombre'].errors?.["required"]){
                            Ingrese su nombre
                        }
                        @if(formReactivo.controls['nombre'].errors?.["maxlength"]){
                            El nombre no puede superar los 50 caracteres
                        }
                    }
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <label class="form-label me-2 text-end" style="width: 150px; margin-bottom: 0;">Apellido</label>
                    <input type="text" class="form-control custom-input"
                        [ngClass]="{'is-invalid': formReactivo.controls['apellido'].invalid && (formReactivo.get('apellido')?.dirty || formReactivo.get('apellido')?.touched), 'is-valid': formReactivo.controls['apellido'].valid }"
                        formControlName="apellido">
                </div>
                <div class="text-danger" style="margin-left: 130px;">
                    @if(formReactivo.get('apellido')?.dirty || formReactivo.get('apellido')?.touched){
                        @if(formReactivo.controls['apellido'].errors?.["required"]){
                            Ingrese su apellido
                        }
                        @if(formReactivo.controls['apellido'].errors?.["maxlength"]){
                            El apellido no puede superar los 50 caracteres
                        }
                    }
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <label class="form-label me-2 text-end" style="width: 150px; margin-bottom: 0;">Email</label>
                    <input type="text" class="form-control custom-input"
                        [ngClass]="{'is-invalid': formReactivo.controls['email'].invalid && (formReactivo.get('email')?.dirty || formReactivo.get('email')?.touched), 'is-valid': formReactivo.controls['email'].valid }"
                        formControlName="email">
                </div>
                <div class="text-danger" style="margin-left: 130px;">
                    @if(formReactivo.get('email')?.dirty || formReactivo.get('email')?.touched){
                        @if(formReactivo.controls['email'].errors?.["required"]){
                            Ingrese su email
                        }
                        @if(formReactivo.controls['email'].errors?.["email"]){
                            Ingrese un email válido
                        }
                    }
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <label class="form-label me-2 text-end" style="width: 150px; margin-bottom: 0;">DNI</label>
                    <input type="text" class="form-control custom-input"
                        [ngClass]="{'is-invalid': formReactivo.controls['dni'].invalid && (formReactivo.get('dni')?.dirty || formReactivo.get('dni')?.touched), 'is-valid': formReactivo.controls['dni'].valid }"
                        formControlName="dni" style="appearance: none;" pattern="[0-9]*">
                </div>
                <div class="text-danger" style="margin-left: 130px;">
                    @if(formReactivo.get('dni')?.dirty || formReactivo.get('dni')?.touched){
                        @if(formReactivo.controls['dni'].errors?.["required"]){
                            Ingrese un DNI
                        }
                        @if(formReactivo.controls['dni'].errors?.["minlength"] || formReactivo.controls['dni'].errors?.["maxlength"]){
                            El DNI debe tener entre 1 y 11 caracteres
                        }
                    }
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <label class="form-label me-2 text-end" style="width: 150px; margin-bottom: 0;">Teléfono</label>
                    <input type="text" class="form-control custom-input"
                        [ngClass]="{'is-invalid': formReactivo.controls['telefono'].invalid && (formReactivo.get('telefono')?.dirty || formReactivo.get('telefono')?.touched), 'is-valid': formReactivo.controls['telefono'].valid }"
                        formControlName="telefono" style="appearance: none;">
                </div>
                <div class="text-danger" style="margin-left: 130px;">
                    @if(formReactivo.get('telefono')?.dirty || formReactivo.get('telefono')?.touched){
                        @if(formReactivo.controls['telefono'].errors?.["required"]){
                            Ingrese su teléfono
                        }
                        @if(formReactivo.controls['telefono'].errors?.["minlength"] || formReactivo.controls['telefono'].errors?.["maxlength"]){
                            El teléfono debe tener entre 10 y 20 caracteres
                        }
                    }
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <label class="form-label me-2 text-end" style="width: 150px; margin-bottom: 0;">Fecha de nacimiento</label>
                    <input type="date" class="form-control custom-input"
                        [ngClass]="{'is-invalid': formReactivo.controls['fecha'].invalid && (formReactivo.get('fecha')?.dirty || formReactivo.get('fecha')?.touched), 'is-valid': formReactivo.controls['fecha'].valid }"
                        formControlName="fecha" value="2000-01-01">
                </div>
                <div class="text-danger" style="margin-left: 130px;">
                    @if(formReactivo.get('fecha')?.dirty || formReactivo.get('fecha')?.touched){
                        @if(formReactivo.controls['fecha'].errors?.["required"]){
                            Ingrese su fecha de nacimiento
                        }
                    }
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6 d-flex justify-content-end">
                <label class="form-label me-2 text-end pt-2" style="width: 150px; margin-bottom: 0;">Roles</label>
                <input type="text" class="form-control custom-input" formControlName="roles">
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <label class="form-label me-2 text-end" style="width: 150px; margin-bottom: 0;">Nombre de usuario</label>
                    <input type="text" class="form-control custom-input"
                        [ngClass]="{'is-invalid': formReactivo.controls['username'].invalid && (formReactivo.get('username')?.dirty || formReactivo.get('username')?.touched), 'is-valid': formReactivo.controls['username'].valid }"
                        formControlName="username">
                </div>
                <div class="text-danger" style="margin-left: 130px;">
                    @if(formReactivo.get('username')?.dirty || formReactivo.get('username')?.touched){
                        @if(formReactivo.controls['username'].errors?.["required"]){
                            Ingrese su nombre de usuario
                        }
                        @if(formReactivo.controls['username'].errors?.["maxlength"]){
                            El nombre de usuario no puede superar los 20 caracteres
                        }
                        @if(formReactivo.controls['username'].errors?.["pattern"]){
                            El nombre de usuario solo puede contener letras, números y guiones bajos
                        }
                    }
                </div>
            </div>
        </div>     
        
          
        @if(type == 'info'){
            <button type="button" class="btn btn-primary mt-4" (click)="changeType('edit')">Editar</button>
        }@else {
            <button type="button" class="btn btn-secondary mt-4 mx-3" (click)="changeType('info')">Cancelar</button>
            <button type="submit" class="btn btn-primary mt-4" >Guardar</button>
        }

    </form>
</section>
