<div class="modal fade" id="infoUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Información Usuario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- formulario usuario -->
                <form [formGroup]="editUser" (ngSubmit)="edit(editUser)">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="inputName" class="form-label">Nombre</label>
                            <input type="text" class="form-control custom-input" formControlName="name">
                        </div>
                        <div class="col">
                            <label for="inputLastName" class="form-label">Apellido</label>
                            <input type="text" class="form-control custom-input" formControlName="lastName">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label for="inputEmail" class="form-label">Email</label>
                            <input type="text" class="form-control custom-input" formControlName="email">
                        </div>
                        <div class="col">
                            <label for="inputDni" class="form-label">Dni</label>
                            <input type="text" class="form-control custom-input" formControlName="dni">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label for="inputTelefono" class="form-label">Teléfono</label>
                            <input type="text" class="form-control custom-input" formControlName="phoneNumber">
                        </div>
                        <div class="col">
                            <label for="inputBirthdate" class="form-label">Fecha de nacimiento</label>
                            <input type="date" class="form-control custom-input" formControlName="birthdate">
                        </div>
                    </div>

                    <div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="exampleInputEmail1" class="form-label">Roles</label>
                                <div class="container">
                                    @for (rol of userModal.roles; track $index) {
                                        <p>{{rol}}</p>
                                    }
                                </div>
                                    <!-- <option selected>Seleccione un rol</option>
                                    @for(rol of roles; track $index){
                                        <option value="{{rol.description}}">{{rol.description}}</option>
                                    }    -->
                                <!-- @if(!canEdit){
                                    <div class="container">
                                        @for (rol of userModal.roles; track $index) {
                                           <p>{{rol}}</p>
                                        }
                                   </div>
                                }@else {
                                    @for(rol of userModal.roles; track $index){
                                        <li class="">{{rol}} <button (click)="quitarRol(rol)">Quitar</button></li>
                                    }
                                } -->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="modal-footer">
                <div class="d-grid gap-2 d-md-block">
                    <button type="button" class="btn btn-style btn-hoover" (click)="changeEdit()">Editar</button>
                </div>
                
                <button type="button" class="btn btn-style btn-hoover" data-bs-dismiss="modal">Atrás</button>
              </div>
        </div>
    </div>
</div>