<div class="modal fade" id="infoUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Información Usuario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- formulario usuario -->
                <form action="" #userInfo="ngForm">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="inputName" class="form-label">Nombre</label>
                            <input type="text" class="form-control custom-input" id=" inputName" #name="ngModel"
                                name="name" [(ngModel)]="userModal.name">
                        </div>
                        <div class="col">
                            <label for="inputLastName" class="form-label">Apellido</label>
                            <input type="text" class="form-control custom-input" id="inputLastName" #lastname="ngModel"
                                name="lastName" [(ngModel)]="userModal.lastname">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label for="inputEmail" class="form-label">Email</label>
                            <input type="text" class="form-control custom-input" id="inputEmail" #email="ngModel"
                                name="email" [(ngModel)]="userModal.email">
                        </div>
                        <div class="col">
                            <label for="inputDni" class="form-label">Dni</label>
                            <input type="text" class="form-control custom-input" id="inputDni" #dni="ngModel" name="dni"
                                [(ngModel)]="userModal.dni">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label for="inputTelefono" class="form-label">Teléfono</label>
                            <input type="text" class="form-control custom-input" id="inputTelefono" #telefono="ngModel"
                                name="telefono" [(ngModel)]="telefonoInput">
                        </div>
                        <div class="col">
                            <label for="inputBirthdate" class="form-label">Fecha de nacimiento</label>
                            <input type="date" class="form-control custom-input" id="inputBirthdate"
                                #birthdate="ngModel" name="birthdate" [(ngModel)]="userModal.datebirth">
                        </div>
                    </div>

                    <div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="exampleInputEmail1" class="form-label">Rol</label>
                                
                                <div class="container">
                                    <!-- lista de roles -->
                                     @for (rol of userModal.roles; track $index) {
                                        <p>{{rol}}</p>
                                     }
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="p-3">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-style btn-hoover rounded-pill w-100">Editar</button>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <button type="button" class="btn btn-style btn-hoover rounded-pill w-100" data-bs-dismiss="modal">Atrás</button>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-style btn-hoover w-100">Editar</button>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <button type="button" class="btn btn-style btn-hoover w-100" data-bs-dismiss="modal">Atrás</button>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>