.select{
    height: 40px;
    width: 100px;
    border-radius: 0.375rem;
    padding: .375rem .75rem;
    background-color: #fff;;
}

.cbx{
    height: 40px;
    padding: .375rem .75rem;
    padding-left: 40px;
}

.hover :hover{
    background-color: rgb(234, 234, 234);
}

.form-control{
    min-width: 500px !important;
    max-width: 500px !important;   
}