.nav-link:hover{
    background-color: #6c757d;
}

.side-compressed{
    width: 55px;
}

.side-expanded{
    width: 220px;
}

.animation{
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.overlay-on {
    transition: all 0.6s ease;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    z-index: 8;
  }

.overlay-off{
    opacity: 0.5;
}