<section class="container p-5 border rounded border-3 border-secundary">
    <form [formGroup]="formReactivo" (ngSubmit)="createPlot()">
        <div class="row">

            <div class="col-lg-6 mb-3">
                <div class="row">
                    <label class="col-2 col-form-label">N°. de Lote</label>
                    <div class="col-10">
                        <input type="number" class="form-control" formControlName="plotNumber" min="1"
                            [ngClass]="onValidate('plotNumber')">
                        <div class="invalid-feedback">{{showError('plotNumber')}}</div>
                    </div>
                </div>
            </div>


            <div class="col-lg-6 mb-3">
                <div class="row">
                    <label class="col-2 col-form-label">N°. de Manzana</label>
                    <div class="col-10">
                        <input type="number" class="form-control" formControlName="blockNumber"
                            [ngClass]="onValidate('blockNumber')">
                        <div class="invalid-feedback">{{showError('blockNumber')}}</div>
                    </div>
                </div>
            </div>


            <div class="col-lg-6 mb-3">
                <div class="row">
                    <label class="col-2 col-form-label">Terreno del Lote (m²)</label>
                    <div class="col-10">
                        <input type="number" class="form-control" formControlName="totalArea"
                            [ngClass]="onValidate('totalArea')">
                        <div class="invalid-feedback">{{showError('totalArea')}}</div>
                    </div>
                </div>
            </div>


            <div class="col-lg-6 mb-3">
                <div class="row">
                    <label class="col-2 col-form-label">Área Construida (m²)</label>
                    <div class="col-10">
                        <input type="number" class="form-control" formControlName="totalBuild"
                            [ngClass]="onValidate('totalBuild')">
                        <div class="invalid-feedback">{{showError('totalBuild')}}</div>
                    </div>
                </div>
            </div>


            <div class="col-lg-6 mb-3">
                <div class="row">
                    <label class="col-2 col-form-label">Estado</label>
                    <div class="col-10">
                        <select id="selectOption" class="form-select" id="stateId" formControlName="state"
                            [ngClass]="onValidate('state')">
                            <option value="" disabled selected>Seleccione una opción</option>
                            @for (s of states; track $index) {
                                <option value="{{s.id}}">{{s.name}}</option>
                                }
                        </select>
                        <div class="invalid-feedback">{{showError('state')}}</div>
                    </div>
                </div>
            </div>


            <div class="col-lg-6 mb-3">
                <div class="row">
                    <label class="col-2 col-form-label">Tipo</label>
                    <div class="col-10">
                        <select id="selectOption" class="form-select" formControlName="type"
                            [ngClass]="onValidate('type')">
                            <option value="" disabled selected>Seleccione una opción</option>
                            @for (t of types; track $index) {
                                <option value="{{t.id}}">{{t.name}}</option>
                                }
                        </select>
                        <div class="invalid-feedback">{{showError('type')}}</div>
                    </div>
                </div>
            </div>


            <div class="col-lg-6 mb-3">
                <div class="row">
                  <label class="col-2 col-form-label">Subir Archivos</label>
                  <div class="col-10">
                    <input type="file" class="form-control" multiple formControlName="file" [ngClass]="onValidate('file')"
                      (change)="onFileChange($event)">
                    <div class="invalid-feedback">{{showError('file')}}</div>
                    <!-- Listado de archivos -->
                    <div class="list-group mt-3">
                      @for (file of files; track $index) {
                      <div class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="bi-file-earmark-text me-3 text-primary fs-5"></i>
                          <span>{{file.name.length > 40 ? file.name.slice(0, 40)+'...' : file.name}}</span>
                        </div>
                        <button type="button" class="btn bi-x-lg" (click)="deleteFile($index)"></button>
  
                      </div>

                      }
                    </div>
                  </div>
                </div>
              </div>

            <div class="row mb-3 justify-content-end">
                <div class="col-auto">
                  <button class="btn btn-secondary" type="submit" (click)="redirect('home/plots/list')">Cancelar</button>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit" [disabled]="formReactivo.invalid">Guardar</button>
                </div>
              </div>
        </div>
    </form>


    <div class="modal fade" id="infoModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Información de la pantalla</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>En esta pantalla, puedes registrar un nuevo lote, ingresando su número, área, estado, y tipo, además de adjuntar archivos relevantes.</p>
                <p>Completa los campos obligatorios y selecciona "Guardar" para confirmar el registro o "Cancelar" para salir sin guardar.</p>
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
</section>