<div class="container">

    <div class="row sticky-section border-0 rounded-4 p-3 shadow mb-2">

        <div class="row">
            <!-- Filtro de fechas -->

            <div class="col d-flex gap-3">
                <div class="col">
                    <input type="date" class="form-control border-1 bg-light" [formControl]="startDate"
                        (change)="filterByDate()">
                    <!-- @if(errorRange) {
                    <div class="text-danger">La fecha de inicio no puede ser mayor a la fecha de fin</div>
                    } -->
                </div>
                <div class="col">
                    <input type="date" class="form-control border-1 bg-light" [formControl]="endDate"
                        (change)="filterByDate()">
                </div>
            </div>

            <!-- Botones de exportar -->
            <div class="col-auto d-flex gap-1 ms-auto">
                <button class="btn btn-primary filterbutton" data-bs-toggle="modal" title="Filtros Avanzados"
                    data-bs-target="#filtrosAvanzados">
                    <i class="bi bi-funnel-fill me-2"></i>
                </button>
                <button type="button" class="btn btn-secondary bi bi-trash filterbutton" (click)="clearFilters()"
                    title="Limpiar Filtros"></button>
            </div>
        </div>

    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">

                <div class="col-md-5">

                    <!-- kPIs -->
                    <div class="row">
                        <div class="col-md-6">
                            <app-users-kpi title="Cantidad de Usuarios" icon="bi bi-person"
                                [amount]="ageDistribution.statics.totalUsers"
                                [customStyles]="{ 'background-color': '#d8ffedde' }"
                                tooltip="Cantidad total de usuarios registrados"></app-users-kpi>
                        </div>
                        <div class="col-md-6">
                            <div class="card hover-scale p-2 shadow border-0" style="background-color: #fff3e0;">
                                <div
                                    class="card-body d-flex flex-column align-items-center justify-content-center p-2 text-center">
                                    <h6 class="card-title">Edad Mínima - Edad Máxima<i
                                            class="bi bi-hourglass-split me-2"></i>
                                    </h6>
                                    <span>{{ ageDistribution.statics.youngestAge }} - {{
                                        ageDistribution.statics.oldestAge }} años</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <app-users-kpi title="Promedio de Edad" icon="bi bi-people"
                            [amount]="ageDistribution.statics.averageAge"
                            [customStyles]="{ 'background-color': '#d8ffedde' }"
                            tooltip="Promedio de edad de los usuarios registrados"></app-users-kpi>
    
                        <div *ngIf="error" class="error-container">
                            <i class="bi bi-exclamation-triangle-fill error-icon"></i>
                            <p>{{ error }}</p>
                        </div>
    
                        @if(!error){
                        <google-chart [type]="pieChart" [data]="pieChartData" [options]="pieChartOptions" [width]="400"
                            [height]="240">
                        </google-chart>
                        }
                    </div>
                </div>

                <div class="col-md-7">
                    <div>
                        @if(error){
                        <div class="error-container">
                            <i class="bi bi-exclamation-triangle-fill error-icon"></i>
                            <p>{{ error }}</p>
                        </div>
                        }

                        @if(!error){
                        <google-chart [type]="columnChart" [data]="barChartData" [options]="barChartOptions"
                            [width]="600" [height]="430">
                        </google-chart>
                        }
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>