<div class="container">
    <div class="row sticky-section border-0 rounded-4 p-3 shadow mb-2">

        <div class="row">
          <!-- Filtro de fechas -->
    
          <div class="col d-flex gap-3">
            <div class="col">
              <input type="date" class="form-control border-1 bg-light" [formControl]="startDate" (change)="filterByDate()">
            </div>
            <div class="col">
              <input type="date" class="form-control border-1 bg-light" [formControl]="endDate" (change)="filterByDate()">
            </div>
          </div>
    
    
          <!-- Botones de exportar -->
          <div class="col-auto d-flex gap-1 ms-auto">
            <button class="btn btn-primary filterbutton" data-bs-toggle="modal" title="Filtros Avanzados"
              data-bs-target="#filtrosAvanzados">
              <i class="bi bi-funnel-fill"></i>
            </button>
            <button type="button" class="btn btn-secondary bi bi-trash filterbutton" (click)="clearFilters()"
              title="Limpiar Filtros"></button>
        </div>
    </div>
           
            <div class="mb-4">
                <div>
                  <h2 class="h4 mb-3 text-primary text-center">Distribución de Edades de Usuarios</h2>
                  <p class="text-muted mb-3 text-center">Cantidad de Usuarios por Edad y Estado de Actividad</p>
                </div>
              </div>

            <div class="card border-0 shadow-lg rounded-4">
                <div class="card-body">
                    <div>
                        <!-- Gráfico de barras -->
                        <google-chart [type]="columnChart" [data]="barChartData" [options]="barChartOptions"
                            [width]="600" [height]="520">
                        </google-chart>
                </div>
        </div>

        <div class="col-md-5">

            <!-- kPIs -->
            <div class="card border-0 shadow-lg mb-3 rounded-4 hover-shadow primary-gradient">
                <div class="card-body position-relative text-center">
                    <h6 class="text-white mb-2">Total de usuarios registrados: </h6>
                    <h4 class="mb-0 fw-bold text-white" >{{ ageDistribution.statics.totalUsers }}</h4>
                </div>
            </div>

            <div class="card border-0 shadow-lg mb-3 rounded-4 hover-shadow success-gradient">
                <div class="card-body position-relative text-center">
                    <h6 class="text-white mb-2">Edad promedio</h6>
                    <h4 class="mb-0 fw-bold text-white">{{ ageDistribution.statics.averageAge }} años</h4>
                </div>
            </div>

            <div class="card border-0 shadow-lg mb-3 rounded-4 hover-shadow info-gradient">
                <div class="card-body text-center">
                    <h6 class="text-white mb-2">Edad Mínima - Edad Máxima</h6>
                    <h4 class="mb-0 fw-bold text-white">{{ ageDistribution.statics.youngestAge }} - {{
                        ageDistribution.statics.oldestAge }} años</h4>
                </div>
            </div>

            <!-- Pie Chart -->
            <div class="card border-0 shadow-lg mb-3 rounded-4 hover-shadow">
                <div class="card-body position-relative">
                    <google-chart [type]="pieChart" [data]="pieChartData" [options]="pieChartOptions" [width]="400"
                        [height]="300">
                    </google-chart>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal Filtros Avanzados -->
<div class="modal fade" id="filtrosAvanzados" tabindex="-1" aria-labelledby="filtrosAvanzadosLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filtrosAvanzadosLabel">Filtros Avanzados</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label>Rango de Edad</label>
          <div class="d-flex gap-3">
            <input type="number" min="0" class="form-control" placeholder="Edad mínima" [(ngModel)]="minAge">
            <input type="number" min="0" class="form-control" placeholder="Edad máxima" [(ngModel)]="maxAge">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <!-- <button type="button" class="btn btn-primary" (click)="applyAdvancedFilters()" data-bs-dismiss="modal"> -->
          
        </div>
      </div>
    </div>
  </div>
</div>