<div class="container">

  <div class="row sticky-section border-0 rounded-4 p-3 shadow mb-2">

    <div class="row">
      <!-- Filtro de fechas -->

      <div class="col d-flex gap-3">
        <div class="col">
          <input type="date" class="form-control border-1 bg-light" [formControl]="startDate" (change)="filterByDate()">
          <!-- @if(errorRange) {
            <div class="text-danger">La fecha de inicio no puede ser mayor a la fecha de fin</div>
          } -->
        </div>
        <div class="col">
          <input type="date" class="form-control border-1 bg-light" [formControl]="endDate" (change)="filterByDate()">
        </div>
      </div>
      <!-- Botones de exportar -->
      <div class="col-auto d-flex gap-1 ms-auto">
        <button class="btn btn-primary filterbutton" data-bs-toggle="modal" title="Filtros Avanzados"
          data-bs-target="#filtrosAvanzados">
          <i class="bi bi-funnel-fill"></i>
        </button>
        <button type="button" class="btn btn-secondary bi bi-trash filterbutton" (click)="clearFilters()"
          title="Limpiar Filtros"></button>
      </div>
    </div>

  </div>

  <div class="card border-0 shadow-lg rounded-4">

    <div class="card-body">
      <div class="row mt-3">

        <div class="col-md-2 ml-2">

          <div class="row">

            <app-users-kpi class="mb-2" title="Área Total" icon="bi bi-arrow-up-right"
              [amount]="selectedBlockskPIs.totalArea" [customStyles]="{ 'background-color': '#d8ffedde' }"
              tooltip="Área total disponible" [selectable]="true" route="/home/charts/users/blocks">
            </app-users-kpi>
            <app-users-kpi class="mb-2" title="Área Total Construida" icon="bi bi-building"
              [amount]="selectedBlockskPIs.totalBuiltArea" [customStyles]="{ 'background-color': '#d8ffedde' }"
              tooltip="Superficie total que ya ha sido construida" formatPipe="metros"></app-users-kpi>
            <app-users-kpi class="mb-2" title="Porcentaje Total Construido" icon="bi bi-percent"
              [amount]="selectedBlockskPIs.utilizationPercentage" [customStyles]="{ 'background-color': '#d8ffedde' }"
              tooltip="" formatPipe="percent"></app-users-kpi>
            <app-users-kpi class="mb-2" title="Porcentaje Total No Construido" icon="bi bi-percent"
              [amount]="selectedBlockskPIs.notUtilizationPercentage"
              [customStyles]="{ 'background-color': '#d8ffedde' }" tooltip="" formatPipe="percent"></app-users-kpi>
          </div>
        </div>
        <div class="col-md-10">

          @if(loading){
          <div class="loading">Cargando...</div>
          }

          <div *ngIf="error" class="error-container">
            <i class="bi bi-exclamation-triangle-fill error-icon"></i>
            <p>{{ error }}</p>
          </div>

          @if(!loading && !error){
          <h4 class="card-title align-items-center">Análisis Comparativo de Manzanas</h4>
          <hr>
          <google-chart [type]="chartType" [data]="chartData" [options]="chartOptions" [width]="width"
            [height]="height">
          </google-chart>
          }
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para filtros avanzados -->
  <div class="modal fade" id="filtrosAvanzados" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Información del Dashboard</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="form-label fw-semibold mb-2">
              Seleccione las Manzanas a Comparar
            </label>

            <div class="row">

              <div class="col-6">
                <select [formControl]="blockControl1" class="form-select">
                  <option value="" disabled selected>Seleccione una opción</option>
                  <option *ngFor="let block of availableBlocksForSelect1" [value]="block">
                    Manzana: {{block}}
                  </option>
                </select>
              </div>

              <div class="col-6">
                <select [formControl]="blockControl2" class="form-select">
                  <option value="" selected disabled>Seleccione una opción</option>
                  <option *ngFor="let block of availableBlocksForSelect2" [value]="block">
                    Manzana: {{block}}
                  </option>
                </select>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>