<div class="container">

  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <h2 class="h4 mb-1 text-primary">Análisis Comparativo de Manzanas</h2>
      <p class="text-muted mb-0">Comparativa de Área Construida vs Área Total y Porcentaje Construido vs No Construido</p>
    </div>
  </div>

  <!-- Block Selection Controls -->
  <div class="d-flex gap-3 align-items-center">

    <div class="form-group">
      <label class="form-label fw-semibold mb-2">
        Seleccione las Manzanas a Comparar
      </label>

      <div class="row">

        <div class="col-6">
          <select [formControl]="blockControl1" class="form-select">
            <option value="" disabled selected>Seleccione una opción</option>
            <option *ngFor="let block of availableBlocksForSelect1" [value]="block">
              Manzana: {{block}}
            </option>
          </select>
        </div>

        <div class="col-6">
          <select [formControl]="blockControl2" class="form-select">
            <option value="" selected disabled>Seleccione una opción</option>
            <option *ngFor="let block of availableBlocksForSelect2" [value]="block">
              Manzana: {{block}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-3">
    <div class="col-md-7">
      <div class="card border-0 shadow-lg rounded-4">
        <div class="card-body">
          <google-chart [type]="chartType" [data]="chartData" [options]="chartOptions" [width]="width"
            [height]="height">
          </google-chart>
        </div>
      </div>
    </div>

    <div class="col-md-5">

      <div class="card border-0 shadow-lg mb-3 rounded-4 hover-shadow">
        <div class="card-body position-relative text-center">

          <h3 class="mb-0">{{selectedBlockskPIs.totalArea}} m²</h3>
          <small class="text-primary">
            <i class="bi bi-arrow-up-right"></i>
            Área Total
          </small>
        </div>
      </div>

      <div class="card border-0 shadow-lg mb-3 rounded-4 hover-shadow">
        <div class="card-body text-center position-relative">
          <h3 class="mb-0">{{selectedBlockskPIs.totalBuiltArea}} m²</h3>
          <small class="text-success">
            <i class="bi bi-building"></i>
            Área total construida
          </small>
        </div>
      </div>

      <div class="card border-0 shadow-lg mb-3 rounded-4 hover-shadow">
        <div class="card-body position-relative text-center">
          <h3 class="mb-0">{{selectedBlockskPIs.utilizationPercentage| number:'1.0-1'}}%</h3>
          <small class="text-info">
            <i class="bi bi-percent"></i>
            Porcentaje Total Construido
          </small>
        </div>
      </div>

      <div class="card border-0 shadow-lg mb-3 rounded-4 hover-shadow">
        <div class="card-body position-relative text-center">
          <h3 class="mb-0">{{selectedBlockskPIs.notUtilizationPercentage| number:'1.0-1'}}%</h3>
          <small class="text-muted">
            <i class="bi bi-percent"></i>
            Porcentaje Total No Construido
          </small>
        </div>
      </div>
    </div>
  </div>
