<section class="fondo min-vh-100 d-flex align-items-center justify-content-center">
    <div class="container">
        <form [formGroup]="loginForm" (ngSubmit)="ingresar(loginForm)">
            <div class="row mb-3">
                <div class="col mb-3">
                    <img src="assets/images/icono_image.png" style="height: 150px; width: 200px;" alt="">
                </div>
            </div>
    
            <div class="row mb-3">
                <div class="col">
                        <input type="text" class="form-control custom-input" [ngClass]="{'is-invalid': loginForm.controls['name'].invalid  && (loginForm.get('name')?.dirty|| loginForm.get('name')?.touched),'is-valid': loginForm.controls['name'].valid }" 
                         placeholder="Correo electrónico o dni" formControlName="name">
                         @if(loginForm.controls['name'].invalid && (loginForm.controls['name'].dirty || loginForm.controls['name'].touched)){
                    
                            <div class="text-danger alinear-texto">Ingrese su correo</div>  
                        }             
                </div>
            </div>
    
            <div class="row mb-3">
                <div class="col">
                    <input type="password" class="form-control custom-input" [ngClass]="{'is-invalid': loginForm.controls['password'].invalid  && (loginForm.get('password')?.dirty|| loginForm.get('password')?.touched),'is-valid': loginForm.controls['password'].valid }"
                     placeholder="Contraseña" formControlName="password" >
                     @if(loginForm.controls['password'].errors?.["required"] && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)){
                    
                        <div class="text-danger alinear-texto">Ingrese su contraseña</div>  
                    }   
                    @if(loginForm.controls["password"].errors?.["minlength"] && (loginForm.controls["password"].dirty || loginForm.controls["password"].touched)){ 
                        <div class="text-danger alinear-texto">Mínimo 8 caracteres</div>
                    }
                </div>
            </div>
    
            <div class="row mb-3">
                <div class="col">
                    <!-- Documetación pide negro el boton de iniciar sesión -->
                    <button type="submit" class="btn btn-dark rounded-pill w-100" [disabled]="loginForm.invalid">Ingresar</button>
                </div>
            </div>
    
            <div class="row">
                <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">
                    ¿Olvidaste tu contraseña?
                  </a>
            </div>
        </form>
        
    </div>    
</section>
