<section class="fondo bg-dark min-vh-100 d-flex align-items-center justify-content-center">
    <div class="container">
        <form #login="ngForm" action="" (ngSubmit)="ingresar(login)" novalidate>
            <div class="row mb-3">
                <h2>Inicio de sesión</h2>
            </div>
    
            <div class="row mb-3 align-items-center d-flex">
                <div class="col-3 text-end">
                    <label for="inputCorreo" class="form-label">Email</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control custom-input" 
                           [ngClass]="{'is-invalid': correo.invalid && (correo.dirty || correo.touched)}" 
                           id="inputCorreo" #correo="ngModel" name="correo" [(ngModel)]="correoInput" required>
                    @if(correo.invalid && (correo.dirty || correo.touched)){
                        <div class="text-danger alinear-texto">Ingrese su correo</div>  
                    }
                </div>
            </div>
    
            <div class="row mb-3 align-items-center d-flex">
                <div class="col-3 text-end">
                    <label for="inputClave" class="form-label">Contraseña</label>
                </div>
                <div class="col">
                    <input type="password" class="form-control custom-input" 
                           [ngClass]="{'is-invalid': clave.invalid && (clave.dirty || clave.touched)}"
                           id="inputClave" #clave="ngModel" name="clave" [(ngModel)]="claveInput" required minlength="6">
                    @if(clave.errors && clave.errors['required'] && (clave.dirty || clave.touched)){
                        <div class="text-danger alinear-texto">Ingrese su contraseña</div>
                    }
                    @if(clave.dirty && clave.getError('minlength')) {
                        <div class="text-danger alinear-texto">Mínimo 6 caracteres</div>
                    }
                </div>
            </div>
    
            <div class="row mb-3">
                <div class="col">
                    <button type="submit" class="btn btn-dark rounded-pill w-100" [disabled]="login.invalid">Ingresar</button>
                </div>
            </div>
    
            <div class="row">
                <div class="col text-center">
                    <a class="custom-link" href="#" style="color: black;">
                        ¿Olvidaste tu contraseña?
                    </a>
                </div>
            </div>
        </form>
    </div>    
</section>