<section class="container p-5 border rounded border-3 border-secondary" style="min-height: 70vh;">
  <h3>Añadir Propietario</h3>
  <form [formGroup]="formReactivo" (ngSubmit)="createOwner()">
    <div class="row mb-4">
      <div class="col-6">
        <div class="row">
          <label class="col-2 text-end form-label pe-0" style="margin: 0;">Nombre</label>
          <div class="col-8">
            <input type="text" class="form-control" formControlName="name" style="margin: 0;" 
              [ngClass]="{'is-invalid': formReactivo.controls['name'].invalid && (formReactivo.get('name')?.dirty || formReactivo.get('name')?.touched), 
                        'is-valid': formReactivo.controls['name'].valid}">
            @if(formReactivo.controls['name'].invalid && (formReactivo.controls['name'].dirty || formReactivo.controls['name'].touched)){
              <div class="error d-block mt-1 text-start">Ingrese su nombre</div>
            }
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <label class="col-2 text-end form-label">Apellido</label>
          <div class="col-8">
            <input type="text" class="form-control" formControlName="lastname"
              [ngClass]="{'is-invalid': formReactivo.controls['lastname'].invalid && (formReactivo.get('lastname')?.dirty || formReactivo.get('lastname')?.touched),
                        'is-valid': formReactivo.controls['lastname'].valid}">
            @if(formReactivo.controls['lastname'].invalid && (formReactivo.controls['lastname'].dirty || formReactivo.controls['lastname'].touched)){
              <div class="error d-block mt-1 text-start">Ingrese su apellido</div>
            }
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-6">
        <div class="row">
          <label class="col-2 text-end form-label">DNI</label>
          <div class="col-8">
            <input type="text" class="form-control custom-input" formControlName="dni"
              [ngClass]="{'is-invalid': formReactivo.controls['dni'].invalid && (formReactivo.get('dni')?.dirty || formReactivo.get('dni')?.touched),
                        'is-valid': formReactivo.controls['dni'].valid}">
            @if(formReactivo.controls['dni'].invalid && (formReactivo.controls['dni'].dirty || formReactivo.controls['dni'].touched)){
              <div class="error d-block mt-1 text-start">Ingrese su DNI</div>
            }
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <label class="col-2 text-end form-label">CUIT-CUIL</label>
          <div class="col-8">
            <input type="number" class="form-control" formControlName="cuit_cuil"
              [ngClass]="{'is-invalid': formReactivo.controls['cuit_cuil'].invalid && (formReactivo.get('cuit_cuil')?.dirty || formReactivo.get('cuit_cuil')?.touched),
                          'is-valid': formReactivo.controls['cuit_cuil'].valid}" >
            @if(formReactivo.controls['cuit_cuil'].invalid && (formReactivo.controls['cuit_cuil'].dirty || formReactivo.controls['cuit_cuil'].touched)){
              <div class="error d-block mt-1 text-start">Ingrese su CUIT - CUIL</div>
            }
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-6">
        <div class="row">
          <label class="col-2 text-end form-label">Fecha de nacimiento</label>
          <div class="col-8">
            <input type="date" class="form-control" formControlName="birthdate" value="2000-01-01"
              [ngClass]="{'is-invalid': formReactivo.controls['birthdate'].invalid && (formReactivo.get('birthdate')?.dirty || formReactivo.get('birthdate')?.touched),
                        'is-valid': formReactivo.controls['birthdate'].valid}">
            @if(formReactivo.controls['birthdate'].invalid && (formReactivo.controls['birthdate'].dirty || formReactivo.controls['birthdate'].touched)){
              <div class="error d-block mt-1 text-start">Ingrese su Fecha de nacimiento</div>
            }
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <label class="col-2 text-end form-label">Email</label>
          <div class="col-8">
            <input type="text" class="form-control" formControlName="email"
              [ngClass]="{'is-invalid': formReactivo.controls['email'].invalid && (formReactivo.get('email')?.dirty || formReactivo.get('email')?.touched),
                        'is-valid': formReactivo.controls['email'].valid}">
            @if(formReactivo.controls['email'].invalid && (formReactivo.controls['email'].dirty || formReactivo.controls['email'].touched)){
              <div class="error d-block mt-1 text-start">Ingrese su Email</div>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-6">
        <div class="row">
          <label class="col-2 text-end form-label">Estado fiscal</label>
          <div class="col-8">
            <select class="form-select" formControlName="state"
              [ngClass]="{'is-invalid': formReactivo.controls['state'].invalid && (formReactivo.get('state')?.dirty || formReactivo.get('state')?.touched),
                        'is-valid': formReactivo.controls['state'].valid}">
              <option value="" disabled selected>Seleccione un estado fiscal</option>
              @for (s of states; track $index) {
                <option value="{{s.id}}">{{s.description}}</option>
              }
            </select>
            @if(formReactivo.controls['state'].invalid && (formReactivo.get('state')?.dirty || formReactivo.get('state')?.touched)){
              <div class="error d-block mt-1 text-start">Seleccione un estado fiscal</div>
            }
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <label class="col-2 text-end form-label">Tipo</label>
          <div class="col-8">
            <select class="form-select" formControlName="type"
              [ngClass]="{'is-invalid': formReactivo.controls['type'].invalid && (formReactivo.get('type')?.dirty || formReactivo.get('type')?.touched),
                        'is-valid': formReactivo.controls['type'].valid}">
              <option value="" disabled selected>Seleccione un tipo propietario</option>
              @for (t of types; track $index) {
                <option value="{{t.id}}">{{t.description}}</option>
              }
            </select>
            @if(formReactivo.controls['type'].invalid && (formReactivo.get('type')?.dirty || formReactivo.get('type')?.touched)){
              <div class="error d-block mt-1 text-start">Seleccione un tipo propietario</div>
            }
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-6">
        <div class="row">
          <label class="col-2 text-end form-label">Nombre de usuario</label>
          <div class="col-8">
            <input type="text" class="form-control" formControlName="username"
              [ngClass]="{'is-invalid': formReactivo.controls['username'].invalid && (formReactivo.get('username')?.dirty || formReactivo.get('username')?.touched),
                        'is-valid': formReactivo.controls['username'].valid}">
            @if(formReactivo.controls['username'].invalid && (formReactivo.controls['username'].dirty || formReactivo.controls['username'].touched)){
              <div class="error d-block mt-1 text-start">Ingrese su nombre de usuario</div>
            }
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <label class="col-2 text-end form-label">Contraseña</label>
          <div class="col-8 position-relative">
            <input 
              [type]="passwordVisible ? 'text' : 'password'" 
              class="form-control" 
              formControlName="password"
              [ngClass]="{'is-invalid': formReactivo.controls['password'].invalid && (formReactivo.get('password')?.dirty || formReactivo.get('password')?.touched),
                          'is-valid': formReactivo.controls['password'].valid}">
            <i class="bi" 
               [ngClass]="passwordVisible ? 'bi-eye-slash' : 'bi-eye'" 
               (click)="togglePasswordVisibility()" 
               style="cursor: pointer; position: absolute; right: -20px; top: 20px; transform: translateY(-50%);"></i>
            @if(formReactivo.controls['password'].invalid && (formReactivo.controls['password'].dirty || formReactivo.get('password')?.touched)){
              <div class="error d-block mt-1 text-start">Ingrese su contraseña</div>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-6">
        <div class="row">
          <label class="col-2 text-end form-label">Teléfono</label>
          <div class="col-8">
            <input type="text" class="form-control custom-input" formControlName="phone"
              [ngClass]="{'is-invalid': formReactivo.controls['phone'].invalid && (formReactivo.get('phone')?.dirty || formReactivo.get('phone')?.touched),
                        'is-valid': formReactivo.controls['phone'].valid}">
            @if(formReactivo.controls['phone'].invalid && (formReactivo.controls['phone'].dirty || formReactivo.controls['phone'].touched)){
              <div class="error d-block mt-1 text-start">Ingrese su teléfono</div>
            }
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <label class="col-2 text-end form-label">Empresa</label>
          <div class="col-8">
            <input type="text" class="form-control" formControlName="company">
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <app-file-upload (filesChange)="getFiles($event)" />
    </div>

    <div class="row mb-3 justify-content-end sticky-right">
      <div class="col-auto">
          <button type="button" class="btn btn-secondary" (click)="confirmExit()">Cancelar</button>
      </div>
      <div class="col-auto">
          <button type="submit" class="btn btn-primary" [disabled]="!formReactivo.valid">Guardar</button>
      </div>
  </div>
  </form>
</section>
