<section class="container p-5 border rounded border-3 border-secundary" style="min-height: 70vh">
  <form [formGroup]="formReactivo" (ngSubmit)="createOwner()">
    <div class="row">
      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Nombre</label>
          <div class="col-10">
            <input type="text" class="form-control" formControlName="name" [ngClass]="onValidate('name')" />
            <div class="invalid-feedback">{{ showError("name") }}</div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Apellido</label>
          <div class="col-10">
            <input type="text" class="form-control" formControlName="lastname" [ngClass]="onValidate('lastname')" />
            <div class="invalid-feedback">{{ showError("lastname") }}</div>
          </div>
        </div>
      </div>


      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Tipo de Documento</label>
          <div class="col-10">
            <select id="selectOption" class="form-select" formControlName="documentType"
              [ngClass]="onValidate('documentType')">
              <option value="" disabled selected>Seleccione una opción</option>
              <option value="1">DNI</option>
              <option value="2">Pasaporte</option>
              <option value="3">CUIT/CUIL</option>
            </select>
            <div class="invalid-feedback">{{showError('documentType')}}</div>
          </div>
        </div>
      </div>


      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Documento</label>
          <div class="col-10">
            <input type="text" class="form-control" formControlName="dni" [ngClass]="onValidate('dni')" />
            <div class="invalid-feedback">{{ showError("dni") }}</div>
          </div>
        </div>
      </div>


      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Fecha de Nacimiento</label>
          <div class="col-10">
            <input type="date" class="form-control" formControlName="birthdate" [formControl]="initialDate"
              [ngClass]="onValidate('birthdate')" />
            <div class="invalid-feedback">{{ showError("birthdate") }}</div>
          </div>
        </div>
      </div>


      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Email</label>
          <div class="col-10">
            <input type="email" class="form-control" formControlName="email" [ngClass]="onValidate('email')" />
            <div class="invalid-feedback">{{ showError("email") }}</div>
          </div>
        </div>
      </div>


      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Estado Fiscal</label>
          <div class="col-10">
            <app-users-multiple-select [options]="states" [placeholder]="'Seleccione un estado...'" [multiple]="false" (selectedOptionsChange)="formReactivo.get('state')?.setValue($event)" />
            
            @if(formReactivo.get('state')?.hasError('required')){
            <div class="text-danger">Debe seleccionar un estado</div>
            }
          </div>
        </div>
      </div>


      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Tipo de Propietario</label>
          <div class="col-10">
            <select id="selectOption" class="form-select" formControlName="type" [ngClass]="onValidate('type')">
              @for (t of types; track $index) {
              <option value="{{ t.id }}">{{ t.description }}</option>
              }
              <option value="" disabled>Seleccione una opción</option>
            </select>
            <div class="invalid-feedback">{{ showError("type") }}</div>
          </div>
        </div>
      </div>


      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Nombre de Usuario</label>
          <div class="col-10">
            <input type="email" class="form-control" formControlName="username" [ngClass]="onValidate('username')" />
            <div class="invalid-feedback">{{ showError("username") }}</div>
          </div>
        </div>
      </div>


      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Contraseña</label>
          <div class="col-10 position: relative">
            <input [type]="passwordVisible ? 'text' : 'password'" class="form-control" formControlName="password"
              [ngClass]="onValidate('password')" />

            <i class="bi" [ngClass]="passwordVisible ? 'bi-eye-slash' : 'bi-eye'" (click)="togglePasswordVisibility()"
              style="
                cursor: pointer;
                position: absolute;
                right: 150px;
                top: auto;
                transform: translateY(-125%);
              "></i>
            <div class="invalid-feedback">{{ showError("password") }}</div>
          </div>
        </div>
      </div>


      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Teléfono</label>
          <div class="col-10">
            <input type="text" class="form-control" formControlName="phone" [ngClass]="onValidate('phone')" />
            <div class="invalid-feedback">{{ showError("phone") }}</div>
          </div>
        </div>
      </div>


      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Razón Social</label>
          <div class="col-10">
            <input type="text" class="form-control" formControlName="company" [ngClass]="onValidate('company')" />
            <div class="invalid-feedback">{{ showError("company") }}</div>
          </div>
        </div>
      </div>


      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Lotes</label>
          <div class="col-10">
            <app-users-multiple-select [options]="availablePlots" [placeholder]="'Seleccione un lote...'" (selectedOptionsChange)="formReactivo.get('plots')?.setValue($event)" />
            
          </div>
        </div>
      </div>


      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Subir Archivos</label>
          <div class="col-10">
            <input type="file" class="form-control" multiple formControlName="file" [ngClass]="onValidate('file')"
              (change)="onFileChange($event)">
            <div class="invalid-feedback">{{showError('file')}}</div>
            <!-- Listado de archivos -->
            <div class="list-group mt-3">
              @for (file of files; track $index) {
              <div class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <i class="bi-file-earmark-text me-3 text-primary fs-5"></i>
                  <span>{{file.name.length > 40 ? file.name.slice(0, 40)+'...' : file.name}}</span>
                </div>
                <button type="button" class="btn bi-x-lg" (click)="deleteFile($index)"></button>

              </div>
              }
            </div>
          </div>
        </div>
      </div>


      <div class="row mb-3 justify-content-end">
        <div class="col-auto">
          <button type="button" class="btn btn-secondary" (click)="confirmExit()">
            Cancelar
          </button>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-success" [disabled]="!formReactivo.invalid">
            Registrar
          </button>
        </div>
      </div>
    </div>
  </form>

  <!-- Modal de info -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoModalLabel">Información sobre la pantalla</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Esta pantalla permite la creación de un nuevo propietario mediante un formulario que contiene los siguientes campos:</p>
        <ul>
          <li><strong>Nombre y Apellido</strong>: Campo obligatorio para ingresar el nombre completo del propietario.</li>
          <li><strong>Tipo de Documento</strong>: Selecciona el tipo de documento del propietario (DNI, Pasaporte, CUIT/CUIL).</li>
          <li><strong>Documento</strong>: Número de identificación del propietario, este campo es obligatorio.</li>
          <li><strong>Fecha de Nacimiento</strong>: Selecciona la fecha de nacimiento, o usa la fecha predeterminada del 1 de enero de 2000 si no se ingresa.</li>
          <li><strong>Email</strong>: Correo electrónico del propietario. Asegúrate de que tenga un formato válido.</li>
          <li><strong>Estado Fiscal</strong>: Permite seleccionar el estado fiscal entre las opciones disponibles.</li>
          <li><strong>Tipo de Propietario</strong>: Selecciona el tipo de propietario (varía según el contexto del sistema).</li>
          <li><strong>Nombre de Usuario</strong>: Nombre de usuario único para acceder al sistema.</li>
          <li><strong>Contraseña</strong>: Contraseña segura para el propietario. Puedes ver el texto de la contraseña mientras la ingresas haciendo clic en el icono de "ojo".</li>
          <li><strong>Teléfono</strong>: Número de teléfono de contacto del propietario.</li>
          <li><strong>Razón Social</strong>: Nombre legal de la empresa si el propietario es una entidad jurídica.</li>
          <li><strong>Lotes</strong>: Selecciona uno o más lotes asociados al propietario (se requiere al menos un lote).</li>
          <li><strong>Telegram ID</strong>: ID de Telegram asociado al propietario (opcional).</li>
          <li><strong>Subir Archivos</strong>: Permite cargar archivos relacionados con el propietario. Puedes ver una lista de archivos cargados.</li>
        </ul>
        <p>Al final del formulario encontrarás los siguientes botones:</p>
        <ul>
          <li><strong>Cancelar</strong>: Cierra el formulario sin guardar los cambios.</li>
          <li><strong>Guardar</strong>: Guarda la información ingresada. Este botón se habilita solo si el formulario es válido.</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


</section>