<section
  class="container p-5 border rounded border-3 border-secundary"
  style="min-height: 70vh"
>
  <form [formGroup]="formReactivo" (ngSubmit)="createOwner()">
    <div class="row">
      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Nombre</label>
          <div class="col-10">
            <input
              type="text"
              class="form-control"
              formControlName="name"
              [ngClass]="onValidate('name')"
            />
            <div class="invalid-feedback">{{ showError("name") }}</div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Apellido</label>
          <div class="col-10">
            <input
              type="text"
              class="form-control"
              formControlName="lastname"
              [ngClass]="onValidate('lastname')"
            />
            <div class="invalid-feedback">{{ showError("lastname") }}</div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Dni</label>
          <div class="col-10">
            <input
              type="text"
              class="form-control"
              formControlName="dni"
              [ngClass]="onValidate('dni')"
            />
            <div class="invalid-feedback">{{ showError("dni") }}</div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Cuit-Cuil</label>
          <div class="col-10">
            <input
              type="number"
              class="form-control"
              formControlName="cuit_cuil"
              [ngClass]="onValidate('cuit_cuil')"
            />
            <div class="invalid-feedback">{{ showError("cuit_cuil") }}</div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Fecha de nacimiento</label>
          <div class="col-10">
            <input
              type="date"
              class="form-control"
              formControlName="birthdate"
              value="2000-01-01"
              [ngClass]="onValidate('birthdate')"
            />
            <div class="invalid-feedback">{{ showError("birthdate") }}</div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Email</label>
          <div class="col-10">
            <input
              type="email"
              class="form-control"
              formControlName="email"
              [ngClass]="onValidate('email')"
            />
            <div class="invalid-feedback">{{ showError("email") }}</div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Estado Fiscal</label>
          <div class="col-10">
            <select
              id="selectOption"
              class="form-select"
              formControlName="state"
              [ngClass]="onValidate('state')"
            >
              @for (s of states; track $index) {
              <option value="{{ s.id }}">{{ s.description }}</option>
              }
            </select>
            <div class="invalid-feedback">{{ showError("state") }}</div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Tipo de propietario</label>
          <div class="col-10">
            <select
              id="selectOption"
              class="form-select"
              formControlName="type"
              [ngClass]="onValidate('type')"
            >
              @for (t of types; track $index) {
              <option value="{{ t.id }}">{{ t.description }}</option>
              }
            </select>
            <div class="invalid-feedback">{{ showError("type") }}</div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Nombre de usuario</label>
          <div class="col-10">
            <input
              type="email"
              class="form-control"
              formControlName="username"
              [ngClass]="onValidate('username')"
            />
            <div class="invalid-feedback">{{ showError("username") }}</div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Contraseña</label>
          <div class="col-10">
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              class="form-control"
              formControlName="password"
              [ngClass]="onValidate('password')"
            />
            <div class="invalid-feedback">{{ showError("password") }}</div>
            <i
              class="bi"
              [ngClass]="passwordVisible ? 'bi-eye-slash' : 'bi-eye'"
              (click)="togglePasswordVisibility()"
              style="
                cursor: pointer;
                position: absolute;
                right: -35px;
                top: 20px;
                transform: translateY(-50%);
              "
            ></i>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Teléfono</label>
          <div class="col-10">
            <input
              type="text"
              class="form-control"
              formControlName="phone"
              [ngClass]="onValidate('phone')"
            />
            <div class="invalid-feedback">{{ showError("phone") }}</div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Razón social</label>
          <div class="col-10">
            <input
              type="text"
              class="form-control"
              formControlName="company"
              [ngClass]="onValidate('company')"
            />
            <div class="invalid-feedback">{{ showError("company") }}</div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Lote</label>
          <div class="col-10">
            <select
              id="selectOption"
              class="form-select"
              formControlName="plot"
              [ngClass]="onValidate('plot')"
            >
              <option value="" disabled selected>Seleccione un lote</option>
              @for (s of lotes; track $index) {
              <option value="{{ s.id }}">
                Numero de lote: {{ s.plot_number }}, Manzana:
                {{ s.block_number }}
              </option>
              }
            </select>
            <div class="invalid-feedback">{{ showError("plot") }}</div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="row">
          <label class="col-2 col-form-label">Telegram id</label>
          <div class="col-10">
            <input
              type="text"
              class="form-control"
              formControlName="telegram_id"
              [ngClass]="onValidate('telegram_id')"
            />
            <div class="invalid-feedback">{{ showError("telegram_id") }}</div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <app-file-upload (filesChange)="getFiles($event)" />
      </div>

      <div class="row mb-3 justify-content-end">
        <div class="col-auto">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="confirmExit()"
          >
            Cancelar
          </button>
        </div>
        <div class="col-auto">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!formReactivo.valid"
          >
            Guardar
          </button>
        </div>
      </div>
    </div>
  </form>
</section>
