<section class="container pt-5">
    <h3>Noticias</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex atque praesentium sequi explicabo itaque excepturi pariatur. Sequi tempora in exercitationem consequatur doloribus vero, esse totam sapiente qui, enim animi et.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex atque praesentium sequi explicabo itaque excepturi pariatur. Sequi tempora in exercitationem consequatur doloribus vero, esse totam sapiente qui, enim animi et.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex atque praesentium sequi explicabo itaque excepturi pariatur. Sequi tempora in exercitationem consequatur doloribus vero, esse totam sapiente qui, enim animi et.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex atque praesentium sequi explicabo itaque excepturi pariatur. Sequi tempora in exercitationem consequatur doloribus vero, esse totam sapiente qui, enim animi et.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex atque praesentium sequi explicabo itaque excepturi pariatur. Sequi tempora in exercitationem consequatur doloribus vero, esse totam sapiente qui, enim animi et.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex atque praesentium sequi explicabo itaque excepturi pariatur. Sequi tempora in exercitationem consequatur doloribus vero, esse totam sapiente qui, enim animi et.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex atque praesentium sequi explicabo itaque excepturi pariatur. Sequi tempora in exercitationem consequatur doloribus vero, esse totam sapiente qui, enim animi et.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex atque praesentium sequi explicabo itaque excepturi pariatur. Sequi tempora in exercitationem consequatur doloribus vero, esse totam sapiente qui, enim animi et.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex atque praesentium sequi explicabo itaque excepturi pariatur. Sequi tempora in exercitationem consequatur doloribus vero, esse totam sapiente qui, enim animi et.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex atque praesentium sequi explicabo itaque excepturi pariatur. Sequi tempora in exercitationem consequatur doloribus vero, esse totam sapiente qui, enim animi et.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex atque praesentium sequi explicabo itaque excepturi pariatur. Sequi tempora in exercitationem consequatur doloribus vero, esse totam sapiente qui, enim animi et.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex atque praesentium sequi explicabo itaque excepturi pariatur. Sequi tempora in exercitationem consequatur doloribus vero, esse totam sapiente qui, enim animi et.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex atque praesentium sequi explicabo itaque excepturi pariatur. Sequi tempora in exercitationem consequatur doloribus vero, esse totam sapiente qui, enim animi et.</p>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#infoUser">
        Launch static backdrop modal
      </button>
    <app-modal-info-user/>
    
</section>
