
<section>
  
  <!-- @if(showLoginPage){
    <app-login (validacion)="redirect('Landing')" [hidden]="showLandingPage"></app-login>
  }
  @else { -->
    <app-navbar (navigation)="redirect($event)" ></app-navbar>
    <app-list-users></app-list-users>
    @if (showLandingPage) {
      <!-- <app-landing-page></app-landing-page> -->
      <!-- <app-usuarios-new-owner /> -->
      
    }
    @if(showListUsersPage){
      <app-list-users></app-list-users>
    } 
    @if(showAddUserPage){
      <app-new-user></app-new-user>   
    }
  <!-- } -->
</section>