<section class="container p-5 border rounded border-3 border-secundary" style="min-height: 70vh;">
    <h3>Editar Propietario</h3>
    <form [formGroup]="editOwner" (ngSubmit)="updateOwner(editOwner)">
        <div class="row mb-4">
            <div class="col d-flex flex-column">
                <div class="d-flex align-items-center">
                    <label class="form-label me-2 text-end" style="width: 150px; margin-bottom: 0;">Nombre</label>
                    <input type="text" class="form-control custom-input" formControlName="name" 
                    [ngClass]="{'is-invalid': editOwner.controls['name'].invalid  && (editOwner.get('name')?.dirty|| editOwner.get('name')?.touched),'is-valid': editOwner.controls['name'].valid }" >
                </div> 
                @if(editOwner.controls['name'].invalid && (editOwner.controls['name'].dirty || editOwner.controls['name'].touched)){
                    
                    <div class="text-danger text-center form-error">
                        Ingrese su nombre
                    </div>
                }
            </div>
            
            <div class="col d-flex flex-column">
                <div class="d-flex align-items-center">
                    <label class="form-label me-2 text-end" style="width: 150px; margin-bottom: 0;">Apellido</label>
                    <input type="text" class="form-control custom-input" formControlName="lastname"
                    [ngClass]="{'is-invalid': editOwner.controls['lastname'].invalid  && (editOwner.get('lastname')?.dirty|| editOwner.get('lastname')?.touched),'is-valid': editOwner.controls['lastname'].valid }">
                </div>   
                @if(editOwner.controls['lastname'].invalid && (editOwner.controls['lastname'].dirty || editOwner.controls['lastname'].touched)){
                    <div class="text-danger text-center form-error">
                        Ingrese su apellido
                    </div>
                }
            </div>
        </div>

        <div class="row mb-4">
            <div class="col d-flex flex-column">
                <div class="d-flex align-items-center">
                    <label class="form-label me-2 text-end" style="width: 150px; margin-bottom: 0;">DNI</label>
                    <input type="text" class="form-control custom-input" formControlName="dni"
                    [ngClass]="{'is-invalid': editOwner.controls['dni'].invalid  && (editOwner.get('dni')?.dirty|| editOwner.get('dni')?.touched),'is-valid': editOwner.controls['dni'].valid }">
                </div>   
                @if(editOwner.controls['dni']; as dniControl) {
                    @if(dniControl.invalid && (dniControl.dirty || dniControl.touched)) {
                
                        @if(dniControl.errors?.['required']) {
                            <div class="text-danger text-center form-error">
                                Ingrese su DNI
                            </div>
                        }
                        @if(dniControl.errors?.['pattern']) {
                            <div class="text-danger text-center form-error">
                                Ingrese un DNI válido
                            </div>
                        }
                    }
                }
                
            </div>
            <div class="col d-flex flex-column">
                <div class="d-flex align-items-center">
                    <label class="form-label me-2 text-end" style="width: 150px; margin-bottom: 0;">CUIT - CUIL</label>
                    <input type="text" class="form-control custom-input" formControlName="cuitCuil"
                    [ngClass]="{'is-invalid': editOwner.controls['cuitCuil'].invalid  && (editOwner.get('cuitCuil')?.dirty|| editOwner.get('cuitCuil')?.touched),'is-valid': editOwner.controls['cuitCuil'].valid }">
                </div>   
                @if(editOwner.controls['cuitCuil']; as cuitCuitControl) {
                    @if(cuitCuitControl.invalid && (cuitCuitControl.dirty || cuitCuitControl.touched)) {
                
                        @if(cuitCuitControl.errors?.['required']) {
                            <div class="text-danger text-center form-error">
                                Ingrese su CUIL - CUIT                                                                          
                            </div>
                        }
                        @if(cuitCuitControl.errors?.['pattern']) {
                            <div class="text-danger text-center form-error">
                                Ingrese un CUIT/CUIL válido
                            </div>
                        }
                    }
                }
            </div>
        </div>

        <div class="row mb-4">
            <div class="col d-flex flex-column">
                <div class="d-flex align-items-center">
                    <label class="form-label me-2 text-end" style="width: 150px; margin-bottom: 0;">Fecha de nacimiento</label>
                    <input type="date" class="form-control custom-input" formControlName="birthdate"
                    [ngClass]="{'is-invalid': editOwner.controls['birthdate'].invalid  && (editOwner.get('birthdate')?.dirty|| editOwner.get('birthdate')?.touched),'is-valid': editOwner.controls['birthdate'].valid }">
                </div>   
                @if(editOwner.controls['birthdate'].invalid && (editOwner.controls['birthdate'].dirty || editOwner.controls['birthdate'].touched)){
                    <div class="text-danger text-center form-error">
                        Ingrese su fecha de nacimiento
                    </div>
                }
            </div>
            <div class="col d-flex flex-column">
                <div class="d-flex align-items-center">
                    <label class="form-label me-2 text-end" style="width: 150px; margin-bottom: 0;">Empresa</label>
                    <input type="text" class="form-control custom-input" formControlName="bussinesName">
                </div>                              
            </div>
        </div>

        <div class="row mb-4">
            <div class="col d-flex flex-column">
                <div class="d-flex align-items-center">
                    <label class="form-label me-2 text-end" style="width: 150px; margin-bottom: 0;">Estado fiscal</label>
                    <input type="text" class="form-control custom-input" formControlName="taxStatus"
                    [ngClass]="{'is-invalid': editOwner.controls['taxStatus'].invalid  && (editOwner.get('taxStatus')?.dirty|| editOwner.get('taxStatus')?.touched),'is-valid': editOwner.controls['taxStatus'].valid }">
                </div>   
                @if(editOwner.controls['taxStatus'].invalid && (editOwner.controls['taxStatus'].dirty || editOwner.controls['taxStatus'].touched)){
                    <div class="text-danger text-center form-error">
                        Ingrese el estado
                    </div>
                }
            </div>
            <div class="col d-flex flex-column">
                <div class="d-flex align-items-center">
                    <label class="form-label me-2 text-end" style="width: 150px; margin-bottom: 0;">Tipo de propietario</label>
                    <input type="text" class="form-control custom-input" formControlName="ownerType"
                    [ngClass]="{'is-invalid': editOwner.controls['ownerType'].valid  && (editOwner.get('ownerType')?.dirty|| editOwner.get('ownerType')?.touched),'is-valid': editOwner.controls['ownerType'].valid }">
                </div>   
                @if(editOwner.controls['ownerType'].invalid && (editOwner.controls['ownerType'].dirty || editOwner.controls['ownerType'].touched)){
                    <div class="text-danger text-center form-error">
                        Ingrese el tipo de propietario
                    </div>
                }
            </div>
        </div>
        <div class="row mb-4">
            <div class="col d-flex flex-column">
                <div class="d-flex align-items-center">
                    <label class="form-label me-2 text-end" style="width: 150px; margin-bottom: 0;">Teléfono</label>
                    <input type="text" class="form-control custom-input" formControlName="phoneNumber"
                    [ngClass]="{'is-invalid': editOwner.controls['taxStatus'].invalid  && (editOwner.get('phoneNumber')?.dirty|| editOwner.get('phoneNumber')?.touched),'is-valid': editOwner.controls['phoneNumber'].valid }">
                </div>
                @if(editOwner.controls['phoneNumber']; as phoneControl) {
                    @if(phoneControl.invalid && (phoneControl.dirty || phoneControl.touched)) {
                
                        @if(phoneControl.errors?.['required']) {
                            <div class="text-danger text-center form-error">
                                Ingrese su teléfono
                            </div>
                        }
                        @if(phoneControl.errors?.['pattern']) {
                            <div class="text-danger text-center form-error">
                                Ingrese un teléfono válido
                            </div>
                        }
                    }
                }
            </div>
            <div class="col d-flex flex-column">
                <div class="d-flex align-items-center">
                    <label class="form-label me-2 text-end" style="width: 150px; margin-bottom: 0;">Email</label>
                    <input type="text" class="form-control custom-input" formControlName="email"
                    [ngClass]="{'is-invalid': editOwner.controls['email'].invalid  && (editOwner.get('email')?.dirty|| editOwner.get('email')?.touched),'is-valid': editOwner.controls['email'].valid }">
                </div>   
                @if(editOwner.controls['email'].invalid && (editOwner.controls['email'].dirty || editOwner.controls['email'].touched)){
                    
                    @if(editOwner.controls['email'].errors?.['required']){
                        <div class="text-danger text-center form-error">
                        Ingrese su email
                        </div>
                    }

                    @if(editOwner.controls['email'].errors?.['email']){
                        <div class="text-danger text-center form-error">
                        Ingrese un email válido
                        </div>
                    }
                    
                }
            </div>
        </div>
        <div class="row mb-3 justify-content-end sticky-right">
            <div class="col-auto">
                <button type="button" class="btn btn-secondary me-3">Cancelar</button>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary" [disabled]="!editOwner.valid">Guardar</button>
            </div>
        </div>
    </form>
</section>