<section class="container p-5 border rounded border-3 border-secundary" style="min-height: 70vh;">
    <h3>Editar Propietario</h3>
    <form [formGroup]="editOwner" (ngSubmit)="updateOwner(editOwner)">
     
         <!-- Nombre y Apellido -->
         <div class="row mb-4">
            <div class="col">
                <div class="row">
                    <label class="col-2 text-start form-label pe-0" style="margin: 0;">Nombre</label>
                    <div class="col-8">
                        <input type="text" class="form-control" formControlName="name"
                            [ngClass]="{
                                'is-invalid': editOwner.controls['name'].invalid && 
                                (editOwner.get('name')?.dirty || editOwner.get('name')?.touched),
                                'is-valid': editOwner.controls['name'].valid
                            }">

                            @if(editOwner.invalid && (editOwner.controls['name'].dirty || editOwner.controls['name'].touched)){
                            <div class="error d-block mt-1 text-start">
                                @if(editOwner.controls['name'].errors?.['required']){
                                    Ingrese su nombre
                                }
                                @if(editOwner.controls['name'].errors?.['maxLength']){
                                    Máximo 50 caracteres
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <label class="col-2 text-start form-label">Apellido</label>
                    <div class="col-8">
                        <input type="text" class="form-control" formControlName="lastname"
                            [ngClass]="{
                                'is-invalid': editOwner.controls['lastname'].invalid && 
                                (editOwner.get('lastname')?.dirty || editOwner.get('lastname')?.touched),
                                'is-valid': editOwner.controls['lastname'].valid
                            }">
                            
                            @if(editOwner.invalid && (editOwner.controls['lastname'].dirty || editOwner.controls['lastname'].touched)){
                            <div class="error d-block mt-1 text-start">
                                @if(editOwner.controls['lastname'].errors?.['required']){
                                    Ingrese su apellido
                                }
                                @if(editOwner.controls['lastname'].errors?.['maxLength']){
                                    Máximo 50 caracteres
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>


        <!-- DNI Y CUIL - CUIT -->
        <div class="row mb-4">
            <div class="col">
                <div class="row">
                    <label class="col-2 text-start form-label pe-0" style="margin: 0;">DNI</label>
                    <div class="col-8">
                        <input type="text" class="form-control custom-input" formControlName="dni"
                        [ngClass]="{'is-invalid': editOwner.controls['dni'].invalid  && (editOwner.get('dni')?.dirty|| editOwner.get('dni')?.touched),'is-valid': editOwner.controls['dni'].valid }">
                        
                        @if(editOwner.controls['dni']; as dniControl) {
                            @if(dniControl.invalid && (dniControl.dirty || dniControl.touched)) {
                        
                                @if(dniControl.errors?.['required']) {
                                    <div class="error d-block mt-1 text-start">
                                        Ingrese su DNI
                                    </div>
                                }
                                @if(dniControl.errors?.['pattern']) {
                                    <div class="error d-block mt-1 text-start">
                                        Ingrese un DNI válido
                                    </div>
                                }
                            }
                        }
                    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <label class="col-2 text-start form-label">CUIT - CUIL</label>
                    <div class="col-8">
                        <input type="text" class="form-control custom-input" formControlName="cuitCuil"
                            [ngClass]="{'is-invalid': editOwner.controls['cuitCuil'].invalid  && (editOwner.get('cuitCuil')?.dirty||
                             editOwner.get('cuitCuil')?.touched),'is-valid': editOwner.controls['cuitCuil'].valid }">
                         
                         @if(editOwner.controls['cuitCuil']; as cuitCuitControl) {
                            @if(cuitCuitControl.invalid && (cuitCuitControl.dirty || cuitCuitControl.touched)) {
                        
                                @if(cuitCuitControl.errors?.['required']) {
                                    <div class="error d-block mt-1 text-start">
                                        Ingrese su CUIL - CUIT                                                                          
                                    </div>
                                }
                                @if(cuitCuitControl.errors?.['pattern']) {
                                    <div class="error d-block mt-1 text-start">
                                        Ingrese un CUIT/CUIL válido
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>


                <!-- Fecha de nacimiento y Empresa -->
                <div class="row mb-4">
                    <div class="col">
                        <div class="row">
                            <label class="col-2 text-start form-label pe-0" style="margin: 0;">Fecha de nacimiento</label>
                            <div class="col-8">
                                <input type="date" class="form-control custom-input" formControlName="birthdate"
                                [ngClass]="{'is-invalid': editOwner.controls['birthdate'].invalid  && (editOwner.get('birthdate')?.dirty|| editOwner.get('birthdate')?.touched),'is-valid': editOwner.controls['birthdate'].valid }">
                                
                                @if(editOwner.controls['birthdate'].invalid && (editOwner.controls['birthdate'].dirty || editOwner.controls['birthdate'].touched)){
                                    <div class="error d-block mt-1 text-start">
                                        Ingrese su fecha de nacimiento
                                    </div>
                                }
                           
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <label class="col-2 text-start form-label">Empresa</label>
                            <div class="col-8">
                                <input type="text" class="form-control custom-input" formControlName="bussinesName">
                            </div>
                        </div>
                    </div>
                </div>


    <!-- Estado fiscal y Tipo de propietario -->
    <div class="row mb-4">
        <div class="col">
            <div class="row">
                <label class="col-2 text-start form-label pe-0" style="margin: 0;">Estado fiscal</label>
                <div class="col-8">
                    <input type="text" class="form-control custom-input" formControlName="taxStatus"
                    [ngClass]="{'is-invalid': editOwner.controls['taxStatus'].invalid  && (editOwner.get('taxStatus')?.dirty|| editOwner.get('taxStatus')?.touched),'is-valid': editOwner.controls['taxStatus'].valid }">
                
                    @if(editOwner.controls['taxStatus'].invalid && (editOwner.controls['taxStatus'].dirty || editOwner.controls['taxStatus'].touched)){
                        <div class="error d-block mt-1 text-start">
                            Ingrese el estado fiscal
                        </div>
                    }
                
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <label class="col-2 text-start form-label">Tipo de propietario</label>
                <div class="col-8">
                    <input type="text" class="form-control custom-input" formControlName="ownerType"
                    [ngClass]="{'is-invalid': editOwner.controls['ownerType'].invalid  && (editOwner.get('ownerType')?.dirty|| editOwner.get('ownerType')?.touched),'is-valid': editOwner.controls['ownerType'].valid }">
                    @if(editOwner.controls['ownerType'].invalid && (editOwner.controls['ownerType'].dirty || editOwner.controls['ownerType'].touched)){
                        <div class="error d-block mt-1 text-start">
                            Ingrese el tipo de propietario
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


        <!-- Telefono y Email -->
        <div class="row mb-4">
            <div class="col">
                <div class="row">
                    <label class="col-2 text-start form-label pe-0" style="margin: 0;">Teléfono</label>
                    <div class="col-8">
                        <input type="text" class="form-control custom-input" formControlName="phoneNumber"
                        [ngClass]="{'is-invalid': editOwner.controls['phoneNumber'].invalid  && (editOwner.get('phoneNumber')?.dirty|| editOwner.get('phoneNumber')?.touched),'is-valid': editOwner.controls['phoneNumber'].valid }">
                        
                        @if(editOwner.controls['phoneNumber']; as phoneControl) {
                            @if(phoneControl.invalid && (phoneControl.dirty || phoneControl.touched)) {
                        
                                @if(phoneControl.errors?.['required']) {
                                    <div class="error d-block mt-1 text-start">
                                        Ingrese su teléfono
                                    </div>
                                }
                                @if(phoneControl.errors?.['pattern']) {
                                    <div class="error d-block mt-1 text-start">
                                        Ingrese un teléfono válido
                                    </div>
                                }
                            }
                        }
                    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <label class="col-2 text-start form-label">Email</label>
                    <div class="col-8">
                        <input type="text" class="form-control custom-input" formControlName="email"
                        [ngClass]="{'is-invalid': editOwner.controls['email'].invalid  && (editOwner.get('email')?.dirty|| editOwner.get('email')?.touched),'is-valid': editOwner.controls['email'].valid }">
                    
                        @if(editOwner.controls['email'].invalid && (editOwner.controls['email'].dirty || editOwner.controls['email'].touched)){
                    
                            @if(editOwner.controls['email'].errors?.['required']){
                                <div class="error d-block mt-1 text-start">
                                Ingrese su email
                                </div>
                            }
        
                            @if(editOwner.controls['email'].errors?.['email']){
                                <div class="error d-block mt-1 text-start">
                                Ingrese un email válido
                                </div>
                            }
                            
                        }
                    
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <app-file-upload (filesChange)="getFiles($event)" [filesLoaded]="existingFiles"/>
        </div>
        <!-- <div *ngFor="let e of existingFilesDownload; let i = index">
            <span>{{ e.name }}</span>
            <button (click)="downloadFile(e.uuid)" class="btn btn-primary">
              Descargar
            </button>
        </div>  -->

        <div class="row mb-3 justify-content-end sticky-right">
            <div class="col-auto">
                <button type="button" class="btn btn-secondary me-3" (click)="confirmExit()">Cancelar</button>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary" [disabled]="!editOwner.valid">Guardar</button>
            </div>
        </div>
    </form>
</section>