<div class="mb-3 mt-3">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changePassword">
    <i class="bi bi-key-fill"></i>
    Cambiar Contraseña
  </button>
</div>

<!--  Formullario para cambiar la contraseña --> 
<div class="modal fade" id="changePassword" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5>Cambiar contraseña</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <div class="mb-3">
            <label class="form-label">Contraseña Actual</label>
            <div class="input-group"> 
              
              <input 
                [type]="showCurrentPassword ? 'text' : 'password'" 
                class="form-control"
                formControlName="currentPassword"
                [ngClass]="onValidate('currentPassword')"
              >
              <button class="btn btn-outline-secondary" type="button" (click)="toggleCurrentPassword()">
                <i class="bi" [ngClass]="showCurrentPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
              </button>
              <div class="invalid-feedback">{{showError('currentPassword')}}</div>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">Nueva Contraseña</label>
            <div class="input-group">
              <input 
                [type]="showNewPassword ? 'text' : 'password'" 
                class="form-control"
                formControlName="newPassword"
                [ngClass]="onValidate('newPassword')"
              >
              <button class="btn btn-outline-secondary" type="button" (click)="toggleNewPassword()">
                <i class="bi" [ngClass]="showNewPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
              </button>
              <div class="invalid-feedback">{{showError('newPassword')}}</div>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">Confirmar Nueva Contraseña</label>
            <div class="input-group">
              <input 
                [type]="showConfirmPassword ? 'text' : 'password'" 
                class="form-control"
                formControlName="confirmNewPassword"
                [ngClass]="onValidate('confirmNewPassword')"
              >
              <button class="btn btn-outline-secondary" type="button" (click)="toggleConfirmPassword()">
                <i class="bi" [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
              </button>
              <div class="invalid-feedback">{{showError('confirmNewPassword')}}</div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
              Guardar
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>