<section class="container pt-5">
    <h3>Editar Usuario</h3>

    <form [formGroup]="updateForm" (ngSubmit)="updateUser()">

        <div class="row mb-3">
            <div class="col d-flex flex-column">
                <div class="d-flex align-items-center justify-content-end">
                    <label class="form-label mb-0 me-3 text-end">Nombre</label>
                    <input type="text" class="form-control custom-input"
                    [ngClass]="{'is-invalid': updateForm.controls['name'].invalid  && (updateForm.get('name')?.dirty|| updateForm.get('name')?.touched),'is-valid': updateForm.controls['name'].valid }" formControlName="name">
                </div>   
                @if(updateForm.controls['name'].invalid && (updateForm.get('name')?.dirty || updateForm.get('name')?.touched)){     
                    <div class="text-danger align-self-end" style="width: 500px;">
                        Ingrese su nombre
                    </div>
                }
            </div>
            <div class="col d-flex flex-column">
                <div class="d-flex align-items-center justify-content-end">
                    <label class="form-label mb-0 me-3 text-end">Apellido</label>
                    <input type="text" class="form-control custom-input"
                    [ngClass]="{'is-invalid': updateForm.controls['lastname'].invalid  && (updateForm.get('lastname')?.dirty|| updateForm.get('lastname')?.touched),'is-valid': updateForm.controls['lastname'].valid }" formControlName="lastname">
                </div>   
                @if(updateForm.controls['lastname'].invalid && (updateForm.get('lastname')?.dirty || updateForm.get('lastname')?.touched)){     
                    <div class="text-danger align-self-end" style="width: 500px;">
                        Ingrese su apellido
                    </div>
                }
            </div>
            <div class="col d-flex flex-column">
                <div class="d-flex align-items-center justify-content-end">
                    <label class="form-label mb-0 me-3 text-end">Dni</label>
                    <input type="number" class="form-control custom-input"
                    [ngClass]="{'is-invalid': updateForm.controls['dni'].invalid  && (updateForm.get('dni')?.dirty|| updateForm.get('dni')?.touched),'is-valid': updateForm.controls['dni'].valid }" formControlName="dni">
                </div>   
                @if(updateForm.controls['dni'].invalid && (updateForm.get('dni')?.dirty || updateForm.get('dni')?.touched)){     
                    <div class="text-danger align-self-end" style="width: 500px;">
                        Ingrese su dni
                    </div>
                }
                </div>
            <div class="col d-flex flex-column">
                <div class="d-flex align-items-center justify-content-end">
                    <label class="form-label mb-0 me-3 text-end">Teléfono</label>
                    <input type="number" class="form-control custom-input"
                    [ngClass]="{'is-invalid': updateForm.controls['phoneNumber'].invalid  && (updateForm.get('phoneNumber')?.dirty|| updateForm.get('phoneNumber')?.touched),'is-valid': updateForm.controls['phoneNumber'].valid }" formControlName="phoneNumber">
                </div>   
                @if(updateForm.controls['phoneNumber'].invalid && (updateForm.get('phoneNumber')?.dirty || updateForm.get('phoneNumber')?.touched)){     
                    <div class="text-danger align-self-end" style="width: 500px;">
                        Ingrese su teléfono
                    </div>
                }
            </div>
            <div class="col d-flex flex-column">
                <div class="d-flex align-items-center justify-content-end">
                    <label class="form-label mb-0 me-3 text-end">Email</label>
                    <input type="text" class="form-control custom-input"
                    [ngClass]="{'is-invalid': updateForm.controls['email'].invalid  && (updateForm.get('email')?.dirty|| updateForm.get('email')?.touched),'is-valid': updateForm.controls['email'].valid }" formControlName="email">
                </div>   
                @if(updateForm.controls['email'].invalid && (updateForm.get('email')?.dirty || updateForm.get('email')?.touched)){     
                    <div class="text-danger align-self-end" style="width: 500px;">
                        Ingrese su Email
                    </div>
                }
                </div>
            <div class="col d-flex flex-column">
                <div class="d-flex align-items-center justify-content-end">
                    <label class="form-label mb-0 me-3 text-end">Fecha de Nacimiento</label>
                    <input type="date" class="form-control custom-input"
                    [ngClass]="{'is-invalid': updateForm.controls['datebirth'].invalid  && (updateForm.get('datebirth')?.dirty|| updateForm.get('datebirth')?.touched),'is-valid': updateForm.controls['datebirth'].valid }" formControlName="datebirth">
                </div>   
                @if(updateForm.controls['datebirth'].invalid && (updateForm.get('datebirth')?.dirty || updateForm.get('datebirth')?.touched)){     
                    <div class="text-danger align-self-end" style="width: 500px;">
                        Ingrese su fecha de nacimiento
                    </div>
                }
                </div>
                <div >
                    <div class="row mb-3" style="max-width: 800px;">
                        <div class="col">
                            <label for="exampleInputEmail1" class="form-label">Rol</label>
                            <div class="d-flex">
                                <select class="form-select me-2" aria-label="Default select example"
                                        id="selectType" required formControlName="roles">
                                    <option value="">Seleccione un rol</option>
                                    @for(rol of roles; track $index){
                                        <option value="{{rol.description}}">{{rol.description}}</option>
                                    }   
                                </select>
                                <button type="button" class="btn btn-secondary" (click)="aniadirRol()"> Añadir</button>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <ul>
                            @if(rolesInput.length > 0){
                                <p class="mx-3">Roles añadidos: </p>
                            }
                            @for(rol of rolesInput; track $index){
                                <li class="mx-5">{{rol}} <button type="button" class="btn btn-secondary" (click)="quitarRol(rol)">Quitar</button></li>
                            }
                          </ul>
                    </div>
                    <div class="row mb-3 justify-content-end">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-danger">Cancelar</button>
                        </div>
                    </div>
                </div>
        </div>
    </form>

</section>