input{
    background: #E8E8E8;
    height: 50px;
    border-radius: 0%;
}

input.custom-input:focus {
    background-color: #E8E8E8;
}

select{
    background: #E8E8E8;
    height: 50px;
    border-radius: 0%;
}
