<section class="container pt-5">
    <h3>Añadir Usuario</h3>

    <form (ngSubmit)="createUser()" [formGroup]="formReactivo">

        <div class="row mb-3">
            <!-- <div class="col">
                <label for="inputName" class="form-label">Nombre</label>
                <input type="text" class="form-control custom-input" placeholder="Nombre"
                [ngClass]="{'is-invalid': formReactivo.controls['nombre'].invalid  && (formReactivo.get('nombre')?.dirty|| formReactivo.get('nombre')?.touched),'is-valid': formReactivo.controls['nombre'].valid }" formControlName="nombre">
                        @if(formReactivo.controls['nombre'].invalid && (formReactivo.get('nombre')?.dirty || formReactivo.get('nombre')?.touched)){
                            <div class="text-danger alinear-texto">Ingrese su nombre</div>
                        }
            </div> -->
            <div class="col d-flex flex-column">
                <div class="d-flex align-items-center justify-content-end">
                    <label class="form-label mb-0 me-3 text-end">Nombre</label>
                    <input type="text" class="form-control custom-input"
                    [ngClass]="{'is-invalid': formReactivo.controls['nombre'].invalid  && (formReactivo.get('nombre')?.dirty|| formReactivo.get('nombre')?.touched),'is-valid': formReactivo.controls['nombre'].valid }" formControlName="nombre">
                </div>   
                @if(formReactivo.controls['nombre'].invalid && (formReactivo.get('nombre')?.dirty || formReactivo.get('nombre')?.touched)){     
                    <div class="text-danger align-self-end" style="width: 500px;">
                        Ingrese su nombre
                    </div>
                }
            </div>
            <div class="col d-flex flex-column">
                <div class="d-flex align-items-center justify-content-end">
                    <label class="form-label mb-0 me-3 text-end">Apellido</label>
                    <input type="text" class="form-control custom-input"
                    [ngClass]="{'is-invalid': formReactivo.controls['apellido'].invalid  && (formReactivo.get('apellido')?.dirty|| formReactivo.get('apellido')?.touched),'is-valid': formReactivo.controls['apellido'].valid }" formControlName="apellido">
                </div>   
                @if(formReactivo.controls['apellido'].invalid && (formReactivo.get('apellido')?.dirty || formReactivo.get('apellido')?.touched)){     
                    <div class="text-danger align-self-end" style="width: 500px;">
                        Ingrese su apellido
                    </div>
                }
            </div>
        </div>
        <div class="row mb-3">
            <div class="col d-flex flex-column">
                <div class="d-flex align-items-center justify-content-end">
                    <label class="form-label mb-0 me-3 text-end">Email</label>
                    <input type="text" class="form-control custom-input"
                    [ngClass]="{'is-invalid': formReactivo.controls['email'].invalid  && (formReactivo.get('email')?.dirty|| formReactivo.get('email')?.touched),'is-valid': formReactivo.controls['email'].valid }" formControlName="email">
                </div>   
                @if(formReactivo.controls['email'].invalid && (formReactivo.get('email')?.dirty || formReactivo.get('email')?.touched)){     
                    <div class="text-danger align-self-end" style="width: 500px;">
                        Ingrese su email
                    </div>
                }
            </div>
            <div class="col d-flex flex-column">
                <div class="d-flex align-items-center justify-content-end">
                    <label class="form-label mb-0 me-3 text-end">Dni</label>
                    <input type="text" class="form-control custom-input"
                    [ngClass]="{'is-invalid': formReactivo.controls['dni'].invalid  && (formReactivo.get('dni')?.dirty|| formReactivo.get('dni')?.touched),'is-valid': formReactivo.controls['dni'].valid }" formControlName="dni">
                </div>   
                @if(formReactivo.controls['dni'].invalid && (formReactivo.get('dni')?.dirty || formReactivo.get('dni')?.touched)){     
                    <div class="text-danger align-self-end" style="width: 500px;">
                        Ingrese su dni
                    </div>
                }
            </div>
        </div>

        <div class="row mb-3">
            <div class="col d-flex flex-column">
                <div class="d-flex align-items-center justify-content-end">
                    <label class="form-label mb-0 me-3 text-end">Télefono</label>
                    <input type="text" class="form-control custom-input"
                    [ngClass]="{'is-invalid': formReactivo.controls['telefono'].invalid  && (formReactivo.get('telefono')?.dirty|| formReactivo.get('telefono')?.touched),'is-valid': formReactivo.controls['telefono'].valid }" formControlName="telefono">
                </div>   
                @if(formReactivo.controls['telefono'].invalid && (formReactivo.get('telefono')?.dirty || formReactivo.get('telefono')?.touched)){     
                    <div class="text-danger align-self-end" style="width: 500px;">
                        Ingrese su teléfono
                    </div>
                }
            </div>
            <div class="col d-flex flex-column">
                <div class="d-flex align-items-center justify-content-end">
                    <label class="form-label mb-0 me-3 text-end">Fecha de nacimiento</label>
                    <input type="text" class="form-control custom-input"
                    [ngClass]="{'is-invalid': formReactivo.controls['fecha'].invalid  && (formReactivo.get('fecha')?.dirty|| formReactivo.get('fecha')?.touched),'is-valid': formReactivo.controls['fecha'].valid }" formControlName="fecha">
                </div>   
                @if(formReactivo.controls['fecha'].invalid && (formReactivo.get('fecha')?.dirty || formReactivo.get('fecha')?.touched)){     
                    <div class="text-danger align-self-end" style="width: 500px;">
                        Ingrese su fecha de nacimiento
                    </div>
                }
            </div>
        </div>

        <div class="row mb-3">
            <div class="col d-flex flex-column">
                <div class="d-flex align-items-center justify-content-end">
                    <label class="form-label mb-0 me-3 text-end">Nombre de usuario</label>
                    <input type="text" class="form-control custom-input"
                    [ngClass]="{'is-invalid': formReactivo.controls['username'].invalid  && (formReactivo.get('username')?.dirty|| formReactivo.get('username')?.touched),'is-valid': formReactivo.controls['username'].valid }" formControlName="username">
                </div>   
                @if(formReactivo.controls['username'].invalid && (formReactivo.get('username')?.dirty || formReactivo.get('username')?.touched)){     
                    <div class="text-danger align-self-end" style="width: 500px;">
                        Ingrese su nombre de usuario
                    </div>
                }
            </div>
        </div>
        <!-- JUNTAR ESTO CON LO DE ARRIBA, O SEA PONER USERNAME Y ROLES EN UNA MISMA COL, VER EL TEMA DEL MULTIPLE SELECT EN EL ROL -->
        <div>
            <div class="row mb-3">
                <div class="col">
                    <label for="exampleInputEmail1" class="form-label">Rol</label>
                    <div class="d-flex">
                        <select class="form-select me-2" aria-label="Default select example"
                                id="selectType" required formControlName="rol">
                            <option value="">Seleccione un rol</option>
                            @for(rol of roles; track $index){
                                <option value="{{rol.description}}">{{rol.description}}</option>
                            }   
                        </select>
                        <button type="button" class="btn btn-secondary" (click)="aniadirRol()"> Añadir</button>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <ul>
                    @if(rolesInput.length > 0){
                        <p>Roles añadidos: </p>
                    }
                    @for(rol of rolesInput; track $index){
                        <li class="">{{rol}} <button class="btn btn-secondary" (click)="quitarRol(rol)">Quitar</button></li>
                    }
                  </ul>
            </div>
            <div class="row mb-3 justify-content-end">
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-danger">Cancelar</button>
                </div>
            </div>
        </div>

        
    </form>

</section>