<section class="container pt-5">
    <h3>Añadir Usuario</h3>

    <form (ngSubmit)="createUser()" [formGroup]="formReactivo">

        <div class="row mb-3">
            <div class="col">
                <label for="inputName" class="form-label">Nombre</label>
                <input type="text" class="form-control custom-input" placeholder="Nombre" [ngClass]="{'is-invalid': formReactivo.controls['nombre'].invalid  && (formReactivo.get('nombre')?.dirty|| formReactivo.get('nombre')?.touched),'is-valid': formReactivo.controls['nombre'].valid }" formControlName="nombre">
                        @if(formReactivo.controls['nombre'].invalid && (formReactivo.get('nombre')?.dirty || formReactivo.get('nombre')?.touched)){
                            <div class="text-danger alinear-texto">Ingrese su nombre</div>
                        }
            </div>
            <div class="col">
                <label for="inputLastName" class="form-label">Apellido</label>
                <input type="text" class="form-control custom-input" [ngClass]="{'is-invalid': formReactivo.controls['apellido'].invalid  && (formReactivo.get('apellido')?.dirty|| formReactivo.get('apellido')?.touched),'is-valid': formReactivo.controls['apellido'].valid }"
                 placeholder="Apellido" formControlName="apellido">
                        @if(formReactivo.controls['apellido'].invalid && (formReactivo.get('apellido')?.dirty || formReactivo.get('apellido')?.touched)){
                            <div class="text-danger alinear-texto">Ingrese su apellido</div>  
                        }
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="usernameInput" class="form-label">Nombre del usuario</label>
                <input type="text" class="form-control custom-input" 
                [ngClass]="{'is-invalid': formReactivo.controls['username'].invalid  && (formReactivo.get('username')?.dirty|| formReactivo.get('username')?.touched),'is-valid': formReactivo.controls['username'].valid }"
                       placeholder="Nombre de Usuario"
                       formControlName="username">
                       @if(formReactivo.controls['username'].invalid && (formReactivo.get('username')?.dirty || formReactivo.get('username')?.touched)){
                        <div class="text-danger alinear-texto">Ingrese su nombre de usuario</div>  
                    }
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" class="form-control custom-input" [ngClass]="{'is-invalid': formReactivo.controls['email'].invalid  && (formReactivo.get('email')?.dirty|| formReactivo.get('email')?.touched),'is-valid': formReactivo.controls['email'].valid }" 
                 placeholder="Correo electrónico" formControlName="email">
                        @if(formReactivo.controls['email'].invalid && (formReactivo.get('email')?.dirty || formReactivo.get('email')?.touched)){
                            <div class="text-danger alinear-texto">Ingrese un correo electrónico válido</div>  
                        }
            </div>
            <div class="col">
                <label for="inputDni" class="form-label">Dni</label>
                <input type="text" class="form-control custom-input" [ngClass]="{'is-invalid': formReactivo.controls['dni'].invalid  && (formReactivo.get('dni')?.dirty|| formReactivo.get('dni')?.touched),'is-valid': formReactivo.controls['dni'].valid }" 
                 placeholder="Dni" formControlName="dni">
                        @if(formReactivo.controls['dni'].invalid && (formReactivo.get('dni')?.dirty || formReactivo.get('dni')?.touched)){
                            <div class="text-danger alinear-texto">Ingrese su dni</div>  
                        }
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="inputTelefono" class="form-label">Teléfono</label>
                <input type="text" class="form-control custom-input" [ngClass]="{'is-invalid': formReactivo.controls['telefono'].invalid  && (formReactivo.get('telefono')?.dirty|| formReactivo.get('telefono')?.touched),'is-valid': formReactivo.controls['telefono'].valid }" 
                 placeholder="Teléfono" formControlName="telefono">
                        @if(formReactivo.controls['telefono'].invalid && (formReactivo.get('telefono')?.dirty || formReactivo.get('telefono')?.touched)){
                            <div class="text-danger alinear-texto">Ingrese su teléfono</div>  
                        }
            </div>
            <div class="col">
                <label for="inputBirthdate" class="form-label">Fecha de nacimiento</label>
                <input type="date" class="form-control custom-input" formControlName="fecha"
                       [ngClass]="{'is-invalid': formReactivo.controls['fecha'].invalid  && (formReactivo.get('fecha')?.dirty|| formReactivo.get('fecha')?.touched),'is-valid': formReactivo.controls['fecha'].valid }">
                       @if(formReactivo.controls['fecha'].invalid && (formReactivo.get('fecha')?.dirty || formReactivo.get('fecha')?.touched)){
                        <div class="text-danger alinear-texto">Ingrese una fecha</div>  
                    }
              </div>
              
              
        </div>

        <div>
            <div class="row mb-3">
                <div class="col">
                    <label for="exampleInputEmail1" class="form-label">Rol</label>
                    <div class="d-flex">
                        <select class="form-select me-2" aria-label="Default select example"
                                id="selectType" required formControlName="rol">
                            <option value="">Seleccione un rol</option>
                            @for(rol of roles; track $index){
                                <option value="{{rol.description}}">{{rol.description}}</option>
                            }   
                        </select>
                        <button type="button" class="btn btn-secondary" (click)="aniadirRol()"> Añadir</button>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <ul>
                    @if(rolesInput.length > 0){
                        <p>Roles añadidos: </p>
                    }
                    @for(rol of rolesInput; track $index){
                        <li class="">{{rol}} <button class="btn btn-secondary" (click)="quitarRol(rol)">Quitar</button></li>
                    }
                  </ul>
            </div>
            <div class="row mb-3 justify-content-end">
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-danger">Cancelar</button>
                </div>
            </div>
        </div>

        
    </form>

</section>