#contenedor{
    height: 5vh;
    width: 23vh;
    border: 2px solid #6C757D;
    background-color: #D3D3D3;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}