<div class="position-relative" id="contenedor">
    <div class="position-absolute top-50 start-0 translate-middle-y">
        <i class="bi bi-image ps-2" style="font-size: x-large;"></i>
    </div>
    <div class="position-absolute top-50 start-50 translate-middle ps-2">
        <span style="padding-right: 5px; font-size:medium;">{{file.name.slice(0,6)}}</span>
    </div>
    <div class="position-absolute top-50 end-0 translate-middle-y">
        <button type="button" class="btn-close pe-3 mt-1" aria-label="Close" (click)="deleteImg()"></button>
    </div>
</div>